<!-- <div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-brand">{{configSettings.navbar_text}}</div>
    </div>
</div> -->
<paNavBar></paNavBar>
<div style="width: 100%; background-color: white;" class="border pt-3">
<div *ngFor="let script of getScriptsOfScriptID(slowLookingScript); let i = index" class="col-sm-12 pb-4">
    <h2 class="col-sm-12">{{script.name}}</h2>
    <div class="col-sm-12">
        <p style="white-space: pre-wrap;">{{script.description}}</p>
        <figcaption *ngIf="script.author != ''" class="blockquote-footer text-dark">{{script.author}}</figcaption>
    </div>
    <div class="col-sm-12">
        <div *ngFor="let artwork of getArtworkFromId(script.homepageartworkid);" class="row align-items-end mb-3">
            <div class="col-7" *ngIf="artwork.url">
                <img src="{{artwork.url}}" alt="{{artwork.name}}" (click)="startLightbox(artwork.url)" style="cursor: pointer; width: 100%;">
            </div>
            <div class="col ml-3" *ngIf="artwork.url">
                <div class="row text-left" style="white-space: pre-wrap;" [innerHTML]="artwork.name"></div>
                <strong><div class="row text-left" style="white-space: pre-wrap;" [innerHTML]="artwork.artist"> </div></strong>
                <div class="row text-left" style="white-space: pre-wrap;" [innerHTML]="artwork.year"></div>
            </div>
            <div class="col-7" *ngIf="!artwork.url && artwork.fileLocation">
                <img routerLink="/slowLooking/{{script._id}}" class="col-sm-12" src="{{artwork.fileLocation}}" >
            </div>
            <div class="col ml-3" *ngIf="!artwork.url && artwork.fileLocation">
                <div class="row text-left" style="white-space: pre-wrap;" [innerHTML]="artwork.name"></div>
                <strong><div class="row text-left" style="white-space: pre-wrap;" [innerHTML]="artwork.artist"> </div></strong>
                <div class="row text-left" style="white-space: pre-wrap;" [innerHTML]="artwork.year"></div>
            </div> 
        </div>
    </div>
    
    <!-- <span *ngFor="let artwork of getArtworkFromId(script.homepageartworkid);">
        <span *ngIf="artwork.url">
            <img class="col-sm-12" src="{{artwork.url}}" alt="{{artwork.name}}">
        </span>
        <span *ngIf="!artwork.url && artwork.fileLocation">
            <img class="col-sm-12" src="{{artwork.fileLocation}}" >
        </span>

        <div class="col-sm-12"><strong><span style="white-space: pre-wrap;" [innerHTML]="artwork.name"></span></strong></div>
        <div class="col-sm-12"><span style="white-space: pre-wrap;" [innerHTML]="artwork.artist"></span></div>
        <div class="col-sm-12">{{artwork.year}}</div>
    </span> -->

    <!-- <span *ngIf="getNonHomepageArtworksOfScript(script).length > 0">
        <table class="table table-sm table-borderless">
            <tr *ngFor="let otherartwork of getNonHomepageArtworksOfScript(script);">
                <td width="20%">
                    <span *ngIf="otherartwork.url">
                        <img src="{{otherartwork.url}}" alt="{{otherartwork.name}}" class="img-thumbnail" height="auto" width="150px" >
                    </span>
                </td>
                <td>
                    <strong><span style="white-space: pre-wrap;" [innerHTML]="otherartwork.name"></span></strong><br/>
                    <span style="white-space: pre-wrap;" [innerHTML]="otherartwork.artist"></span><br/>
                    <span>{{otherartwork.year}}</span>
                </td>
            </tr>
        </table>
    </span> -->
    <ng-container *ngIf="getNonHomepageArtworksOfScript(script).length > 0">
        <div *ngFor="let otherartwork of getNonHomepageArtworksOfScript(script);" class="row align-items-end mb-3">
            <div class="col-4" *ngIf="otherartwork.url">
                <img class="col-sm-12" src="{{otherartwork.url}}" alt="{{otherartwork.name}}" (click)="startLightbox(otherartwork.url)" style="cursor: pointer;">
            </div>
            <div class="col">
                <div class="row text-left" style="white-space: pre-wrap;" [innerHTML]="otherartwork.name"></div>
                <strong><div class="row text-left" style="white-space: pre-wrap;" [innerHTML]="otherartwork.artist"></div></strong>
                <div class="row text-left" style="white-space: pre-wrap;" [innerHTML]="otherartwork.year"></div>
            </div>
        </div>
    </ng-container>

    <div class="accordion mt-3" id="{{'script'+script._id}}">
        <div class="accordion-item museum-colour">
            <h2 class="accordion-header" id="{{'heading_' + 'script'+script._id}}">
                <button 
                    class="accordion-button collapsed text-white museum-colour" 
                    type="button" 
                    data-bs-toggle="collapse" 
                    [attr.data-bs-target]="'#collapse_' + 'script'+script._id"
                    aria-expanded="false" 
                    [attr.aria-controls]="'collapse_'+ 'script'+script._id">
                    <strong>All responses</strong>
                </button>
            </h2>
            <div 
                style="background-color: black;"
                id="{{'collapse_' + 'script'+script._id}}" 
                class="accordion-collapse collapse" 
                [attr.aria-labelledby]="'heading_' + 'script'+script._id"
                [attr.data-bs-parent]="'#script'+script._id">
                <div class="accordion-body">
                    <div *ngFor="let activity of getApprovedActivitiesOfAScript(script._id); let i = index; let even=even">
                        <!-- <div style="background-color: #f2f2f2;" class="rounded-3"> -->
                        <div class="card text-white mb-3 museum-colour" style="border-radius: 15px;">
                        <div class="card-body">
                            <div *ngFor="let action of activity.actions;">
                                <span *ngIf="action.questionStage">
                                    <span *ngIf="action.questionStage.stagetype">
                                        <span *ngIf="action.questionStage.stagetype != 'multiquestion'">
                                            <span style="font-weight: bold; white-space: pre-wrap;" [innerHTML]="action.question | linkify"></span>
                                            <p class="font-weight-normal" style="white-space: pre-wrap;">{{action.answer}}</p>
                                        </span>
                                        <span *ngIf="action.questionStage.stagetype == 'multiquestion' && action.answers">
                                            <span *ngFor="let answer of sortAnswers(action.answers)">
                                                <span style="font-weight: bold; white-space: pre-wrap;" [innerHTML]="action.questions[answer.question] | linkify"></span>
                                                <p class="font-weight-normal" style="white-space: pre-wrap;">{{answer.answer}}</p>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                                <span *ngIf="action.storyStage">
                                    <span *ngIf="action.storyStage.stagetype">
                                        <span *ngIf="action.storyStage.stagetype == 'story'">
                                            <span style="font-weight: bold; white-space: pre-wrap;" [innerHTML]="action.question  | linkify"></span>
                                            <p class="font-weight-normal" style="white-space: pre-wrap;">{{action.answer}}</p>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <p class="mb-0">{{activity.authorname}}</p>
                                <h6 class="mb-0"><span class="badge rounded-pill" style="background-color: rgba(0,0,0, 0.2);">{{activity.likes}}</span> <i (click)="addLikeToActivity(activity);" class="fas fa-heart ms-2"></i></h6>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<br/>
<br/>