<p>Manage the collection of artworks that can be used in your Deep Viewpoints scripts.</p>
<div *ngIf="isLoggedIn()" class="form-group">
    <table class="table table-sm table-striped"> 
        <tr><th width="20%">Artwork</th><th></th><th></th></tr>
        <tr *ngFor="let item of getArtworks(); let i = index">
            <td>
                <img src="{{item.url}}" alt="{{item.name}}" class="img-thumbnail" height="auto" width="150px" >
            </td>
            <td>
                <div>
                    <strong>{{item.name}}</strong><br/>
                    {{item.artist}}<br/>
                    {{item.year}}
                    <span *ngIf="deleteConfirmation_Id==item._id">
                        <div class="alert alert-danger" role="alert"><strong>Are you sure you want to delete this artwork from your collection?</strong> <div><button class="btn btn-danger ml-2" (click)="deleteArtwork(item._id)">OK</button> <button class="btn btn-secondary ml-2" (click)="deleteConfirmation_Id=''">Cancel</button></div></div>
                    </span>
                </div>
            </td>
            <td>
                <div>
                    <button class="btn btn-danger" (click)="confirmDelete(item._id)">Delete</button>
                </div>
            </td>
        <tr>
            <td>
                <div *ngIf="selected">
                    <img src="{{selectedURL()}}" alt="{{selectedName()}}" class="img-thumbnail" height="auto" width="150px" >
                </div>
            </td>
            <td>
                <div *ngIf="selected">
                    <strong>{{selectedName()}}</strong><br/>
                    {{selectedArtist()}}<br/>
                    {{selectedYear()}}
                </div>
            </td>
            <td>
                <div *ngIf="selected">
                    <button class="btn btn-success" (click)="saveArtwork(); selected=false;">Add</button>
                </div>
            </td>
        </tr>
    </table>
    <div class="ng-autocomplete mb-5">
        <span>Search IMMA collection:</span>
        <ng-autocomplete 
          [data]="data"
          [searchKeyword]="keyword"
          (selected)='selectEvent($event)'
          (inputChanged)='onChangeSearch($event)'
          (inputFocused)='onFocused($event)'
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate"
          [placeholder]="placeholderText"
          [historyListMaxNumber]="15"
          [minQueryLength]="2">                                 
        </ng-autocomplete>
    
        <ng-template #itemTemplate let-item>
            <a href="javascript:void(0)">
                <span [innerHTML]="item.name"></span>, 
                <span [innerHTML]="item.artist"></span>, 
                <span [innerHTML]="item.year"></span>
            </a>
        </ng-template>
        
        <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
        </ng-template>
    </div>
    <br/>
    <br/>
    <br/>
</div>



