<paNavBar></paNavBar>
<div style="width: 100%; background-color: white;" class="border pl-3 pr-3">
<p class="lead">{{configSettings.artworks_para1}}</p>
<div *ngIf="isLoggedIn()" class="form-group">
    <div class="bg-white text-black pl-1 pt-1 border-top-0 border-left-0 border-right-0" style="border-width: 2px; border-style: solid;">
        <strong>My artworks</strong>
    </div>
    <div class="form-group" *ngIf="getArtworks().length > 6">
        <div class="row pt-1">
            <div class="col-sm-2 pt-1" style="min-width: 12em;">
               <label for="search-text">Filter my artworks:</label>
            </div>
            <div class="col-sm">
                <input type="email" class="form-control" id="search-text" aria-describedby="search-text" 
                [(ngModel)]="searchText" placeholder="Artwork, artist or year">
            </div>
        </div>
    </div>
    <div class="row itemsBlock pt-2">
        <div *ngFor="let item of getArtworks() | appFilter: searchText; let i = index" class="col-md-4 col-sm-6 col-12 pb-3">
            <div class="row pb-3">
                <div class="col-12">
                    <img src="{{item.url}}" alt="{{item.name}}" height="auto" style="width:100%" (error)="handleMissingImage($event)">
                </div>
                <div class="col-12 ml-1">
                    <div class="col-12">
                        <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="item.name"></div>
                        <strong><div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="item.artist"></div></strong>
                        <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;">{{item.year}}</div>
                    </div>
                </div>
                <div class="col-12" *ngIf="deleteConfirmation_Id!=item._id">
                    <button class="float-right btn btn-danger"  (click)="confirmDelete(item._id)">Delete</button>
                </div>
        
                <span *ngIf="deleteConfirmation_Id==item._id">
                    <div class="alert alert-danger" role="alert"><strong>Are you sure you want to delete this artwork from your collection?</strong>
                    <span *ngIf="getScriptsOfAnArtwork(item._id).length > 0">
                        <p><strong>It will be removed from the following scripts:</strong></p>
                    </span>
                    <ul *ngIf="getScriptsOfAnArtwork(item._id).length > 0">
                        <li *ngFor="let artworkscript of getScriptsOfAnArtwork(item._id);">{{artworkscript.name}}</li>
                    </ul>
                    <!-- <ul *ngFor="let artworkscript of getScriptsOfAnArtwork(item._id);">
                        <li>{{artworkscript.name}}</li>
                    </ul> -->
                    <div class="text-end">
                        <button class="btn btn-secondary" (click)="deleteConfirmation_Id=''">Cancel</button><button class="btn btn-danger ml-2" (click)="deleteArtwork(item._id)">OK</button></div>
                    </div>
                </span>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="ng-autocomplete" style="width: 100%;">
            <span><strong>{{configSettings.artworks_searchprompt}}</strong></span>
            <ng-autocomplete 
            [data]="data"
            [searchKeyword]="keyword"
            (selected)='selectEvent($event)'
            (inputChanged)='onChangeSearch($event)'
            (inputFocused)='onFocused($event)'
            [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate"
            [placeholder]="placeholderText"
            [historyListMaxNumber]="15"
            [minQueryLength]="2">                                 
            </ng-autocomplete>
        
            <ng-template #itemTemplate let-item>
                <a href="javascript:void(0)">
                    <span [innerHTML]="item.searchstring"></span>
                </a>
            </ng-template>
            
            <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
            </ng-template>
        </div>
    </div>

    <div *ngIf="selected" class="pb-3">
        <div class="row align-items-end">
            <div class="col-md-4 col-sm-6">
                <img src="{{selectedURL()}}" alt="{{selectedName()}}" height="auto" style="width:100%" (error)="handleMissingImage($event)">
            </div>
            <div class="col-sm ml-3">
                <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="selectedName()"></div>
                <strong><div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="selectedArtist()"></div></strong>
                <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="selectedYear()"></div>
            </div>

            <div class="col-sm">
                <button class="float-right btn btn-success" (click)="saveArtwork(); selected=false;">Add</button>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
</div>
</div>
<br/>
<br/>
<br/>
<br/>


