<paNavBar></paNavBar>
<p class="lead">Manage responses to your scripts.</p>
<p *ngIf="isAdmin()">
    Show responses to scripts authored by:&nbsp;
    <select [(ngModel)]="currentUser" class="form-select form-select-sm" >
        <option *ngFor="let user of getUsers();" value="{{user.id}}">   
            {{user.id}}: {{user.username}}           
        </option> 
    </select> 
</p>
<div *ngIf="isLoggedIn()">
    Show responses with status:
</div>
<div *ngIf="isLoggedIn()" class="mb-4">
    <button (click)="managementMode=1" class="btn btn-secondary col-sm-4 text-center">All</button>
    <button (click)="managementMode=2" class="btn btn-success col-sm-4 text-center">Approved</button>
    <button (click)="managementMode=3" class="btn btn-warning col-sm-4 text-center">Awaiting approval</button>
</div>

<div [ngSwitch]="managementMode">  
    <div *ngSwitchCase="1">
        <!-- show all -->
        <div *ngFor="let item of getActivities(); let i = index" class="mb-3 card border p-3" style="border-radius: 15px;">
            <div class="text-center">
                <span *ngIf="item.approved" style="color: rgb(33, 136, 56)">
                    Approved
                </span>
                <span *ngIf="!(item.approved)" style="color: rgb(224, 168, 1)">
                    Awaiting approval
                </span>
            </div>
            <div class="text-sm-left">
                <table class="table table-sm">
                <tr><td width="90%">
                    <span class="text-sm-left font-weight-bold">{{item.script.name}}</span>

                    <div class="card text-white mb-3" style="background-color: #1f959b; border-radius: 15px;">
                        <div class="card-body p-5">
                            <div *ngFor="let action of item.actions;">
                                <span *ngIf="action.questionStage">
                                    <span *ngIf="action.questionStage.stagetype">
                                        <span *ngIf="action.questionStage.stagetype != 'multiquestion'">
                                            <span style="font-weight: bold; white-space: pre-wrap;" [innerHTML]="action.question"></span>
                                            <span *ngIf="item._id==editContribution">
                                                <textarea class="col-sm-12" rows="3" class="form-control" [(ngModel)]="action.answer"></textarea>
                                            </span>
                                            <p *ngIf="item._id!=editContribution" class="font-weight-normal" style="white-space: pre-wrap;">{{action.answer}}</p>
                                        </span>
                                        <span *ngIf="action.questionStage.stagetype == 'multiquestion' && action.answers">
                                            <span *ngFor="let answer of action.answers">
                                                <span style="font-weight: bold; white-space: pre-wrap;" [innerHTML]="action.questionStage.body[answer.question]"></span>
                                                <span *ngIf="item._id==editContribution">
                                                    <textarea class="col-sm-12" rows="3" class="form-control" [(ngModel)]="answer.answer"></textarea>
                                                </span>
                                                <p *ngIf="item._id!=editContribution" class="font-weight-normal" style="white-space: pre-wrap;">{{answer.answer}}</p>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                                <span *ngIf="action.storyStage">
                                    <span *ngIf="action.storyStage.stagetype">
                                        <span *ngIf="action.storyStage.stagetype == 'story'">
                                            <span style="font-weight: bold; white-space: pre-wrap;" [innerHTML]="action.question"></span>
                                            <span *ngIf="item._id==editContribution">
                                                <textarea class="col-sm-12" rows="3" class="form-control" [(ngModel)]="action.answer"></textarea>
                                            </span>
                                            <p *ngIf="item._id!=editContribution" class="font-weight-normal" style="white-space: pre-wrap;">{{action.answer}}</p>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <p class="mb-0">{{item.authorname}}</p>
                                <h6 class="mb-0"><span class="badge rounded-pill" style="background-color: rgba(0,0,0, 0.2);">{{item.likes}}</span> <i class="fas fa-heart ms-2"></i></h6>
                            </div>
                        </div>
                    </div>

                    <span *ngIf="deleteConfirmation_Id==item._id">
                        <div class="alert alert-danger" role="alert"><strong>Are you sure you want to delete this activity?</strong> <div><button class="btn btn-danger ml-2" (click)="deleteActivity(item._id)">OK</button> <button class="btn btn-secondary ml-2" (click)="deleteConfirmation_Id=''">Cancel</button></div></div>
                    </span>
                </td>
                <td width="10%">
                    <span class="text-sm-left font-weight-bold">&nbsp;</span><br/>
                    <span *ngIf="item._id!=editContribution"><button (click)="editContribution=item._id" class="mb-3 mr-3 btn btn-warning">Edit</button><br/></span>
                    <span *ngIf="item._id==editContribution"><button (click)="editContribution=''; saveActivity(item)" class="btn btn-warning">Save</button></span>
                </td>
                </tr>
                </table>
            </div>
            <div class="text-sm-left">
                <div *ngIf="item.approved">
                    <button class="col-sm-4 text-center btn btn-warning" (click)="item.approved=false; saveActivity(item)">Reject</button>
                    <button class="col-sm-4 text-center float-right btn btn-danger" (click)="confirmDelete(item._id)">Delete</button>            
                </div>
                <span *ngIf="!(item.approved)">
                    <button class="col-sm-4 text-center btn btn-success" (click)="item.approved=true; saveActivity(item)">Approve</button>
                    <button class="col-sm-4 text-center float-right btn btn-danger" (click)="confirmDelete(item._id)">Delete</button>   
                </span>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="2">
        <!-- show approved -->
        <div *ngFor="let item of getApprovedActivities(); let i = index" class="mb-3 card border p-3" style="border-radius: 15px;">
            <div class="text-center">
                <span *ngIf="item.approved" style="color: rgb(33, 136, 56)">
                    Approved
                </span>
                <span *ngIf="!(item.approved)" style="color: rgb(224, 168, 1)">
                    Awaiting approval
                </span>
            </div>
            <div class="text-sm-left">
                <table class="table table-sm">
                    <tr><td width="90%">
                        <span class="text-sm-left font-weight-bold">{{item.script.name}}</span>
    
                        <div class="card text-white mb-3" style="background-color: #1f959b; border-radius: 15px;">
                            <div class="card-body p-5">
                                <div *ngFor="let action of item.actions;">
                                    <span *ngIf="action.questionStage">
                                        <span *ngIf="action.questionStage.stagetype">
                                            <span *ngIf="action.questionStage.stagetype != 'multiquestion'">
                                                <span style="font-weight: bold; white-space: pre-wrap;" [innerHTML]="action.question"></span>
                                                <span *ngIf="item._id==editContribution">
                                                    <textarea class="col-sm-12" rows="3" class="form-control" [(ngModel)]="action.answer"></textarea>
                                                </span>
                                                <p *ngIf="item._id!=editContribution" class="font-weight-normal" style="white-space: pre-wrap;">{{action.answer}}</p>
                                            </span>
                                            <span *ngIf="action.questionStage.stagetype == 'multiquestion' && action.answers">
                                                <span *ngFor="let answer of action.answers">
                                                    <span style="font-weight: bold; white-space: pre-wrap;" [innerHTML]="action.questionStage.body[answer.question]"></span>
                                                    <span *ngIf="item._id==editContribution">
                                                        <textarea class="col-sm-12" rows="3" class="form-control" [(ngModel)]="answer.answer"></textarea>
                                                    </span>
                                                    <p *ngIf="item._id!=editContribution" class="font-weight-normal" style="white-space: pre-wrap;">{{answer.answer}}</p>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                    <span *ngIf="action.storyStage">
                                        <span *ngIf="action.storyStage.stagetype">
                                            <span *ngIf="action.storyStage.stagetype == 'story'">
                                                <span style="font-weight: bold; white-space: pre-wrap;" [innerHTML]="action.question"></span>
                                                <span *ngIf="item._id==editContribution">
                                                    <textarea class="col-sm-12" rows="3" class="form-control" [(ngModel)]="action.answer"></textarea>
                                                </span>
                                                <p *ngIf="item._id!=editContribution" class="font-weight-normal" style="white-space: pre-wrap;">{{action.answer}}</p>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                                <hr>
                                <div class="d-flex justify-content-between">
                                    <p class="mb-0">{{item.authorname}}</p>
                                    <h6 class="mb-0"><span class="badge rounded-pill" style="background-color: rgba(0,0,0, 0.2);">{{item.likes}}</span> <i class="fas fa-heart ms-2"></i></h6>
                                </div>
                            </div>
                        </div>
    
                        <span *ngIf="deleteConfirmation_Id==item._id">
                            <div class="alert alert-danger" role="alert"><strong>Are you sure you want to delete this activity?</strong> <div><button class="btn btn-danger ml-2" (click)="deleteActivity(item._id)">OK</button> <button class="btn btn-secondary ml-2" (click)="deleteConfirmation_Id=''">Cancel</button></div></div>
                        </span>
                    </td>
                    <td width="10%">
                        <span class="text-sm-left font-weight-bold">&nbsp;</span><br/>
                        <span *ngIf="item._id!=editContribution"><button (click)="editContribution=item._id" class="mb-3 mr-3 btn btn-warning">Edit</button><br/></span>
                        <span *ngIf="item._id==editContribution"><button (click)="editContribution=''; saveActivity(item)" class="btn btn-warning">Save</button></span>
                    </td>
                    </tr>
                    </table>                
            </div>
            <div class="text-sm-left">
                <div *ngIf="item.approved">
                    <button class="col-sm-4 text-center btn btn-warning" (click)="item.approved=false; saveActivity(item)">Reject</button>
                    <button class="col-sm-4 text-center float-right btn btn-danger" (click)="confirmDelete(item._id)">Delete</button>            
                </div>
                <span *ngIf="!(item.approved)">
                    <button class="col-sm-4 text-center btn btn-success" (click)="item.approved=true; saveActivity(item)">Approve</button>
                    <button class="col-sm-4 text-center float-right btn btn-danger" (click)="confirmDelete(item._id)">Delete</button>   
                </span>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="3">
        <!-- show waiting approval -->
        <div *ngFor="let item of getUnpprovedActivities(); let i = index" class="mb-3 card border p-3" style="border-radius: 15px;">
            <div class="text-center">
                <span *ngIf="item.approved" style="color: rgb(33, 136, 56)">
                    Approved
                </span>
                <span *ngIf="!(item.approved)" style="color: rgb(224, 168, 1)">
                    Awaiting approval
                </span>
            </div>
            <div class="text-sm-left">
                <table class="table table-sm">
                    <tr><td width="90%">
                        <span class="text-sm-left font-weight-bold">{{item.script.name}}</span>
    
                        <div class="card text-white mb-3" style="background-color: #1f959b; border-radius: 15px;">
                            <div class="card-body p-5">
                                <div *ngFor="let action of item.actions;">
                                    <span *ngIf="action.questionStage">
                                        <span *ngIf="action.questionStage.stagetype">
                                            <span *ngIf="action.questionStage.stagetype != 'multiquestion'">
                                                <span style="font-weight: bold; white-space: pre-wrap;" [innerHTML]="action.question"></span>
                                                <span *ngIf="item._id==editContribution">
                                                    <textarea class="col-sm-12" rows="3" class="form-control" [(ngModel)]="action.answer"></textarea>
                                                </span>
                                                <p *ngIf="item._id!=editContribution" class="font-weight-normal" style="white-space: pre-wrap;">{{action.answer}}</p>
                                            </span>
                                            <span *ngIf="action.questionStage.stagetype == 'multiquestion' && action.answers">
                                                <span *ngFor="let answer of action.answers">
                                                    <span style="font-weight: bold; white-space: pre-wrap;" [innerHTML]="action.questionStage.body[answer.question]"></span>
                                                    <span *ngIf="item._id==editContribution">
                                                        <textarea class="col-sm-12" rows="3" class="form-control" [(ngModel)]="answer.answer"></textarea>
                                                    </span>
                                                    <p *ngIf="item._id!=editContribution" class="font-weight-normal" style="white-space: pre-wrap;">{{answer.answer}}</p>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                    <span *ngIf="action.storyStage">
                                        <span *ngIf="action.storyStage.stagetype">
                                            <span *ngIf="action.storyStage.stagetype == 'story'">
                                                <span style="font-weight: bold; white-space: pre-wrap;" [innerHTML]="action.question"></span>
                                                <span *ngIf="item._id==editContribution">
                                                    <textarea class="col-sm-12" rows="3" class="form-control" [(ngModel)]="action.answer"></textarea>
                                                </span>
                                                <p *ngIf="item._id!=editContribution" class="font-weight-normal" style="white-space: pre-wrap;">{{action.answer}}</p>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                                <hr>
                                <div class="d-flex justify-content-between">
                                    <p class="mb-0">{{item.authorname}}</p>
                                    <h6 class="mb-0"><span class="badge rounded-pill" style="background-color: rgba(0,0,0, 0.2);">{{item.likes}}</span> <i class="fas fa-heart ms-2"></i></h6>
                                </div>
                            </div>
                        </div>
    
                        <span *ngIf="deleteConfirmation_Id==item._id">
                            <div class="alert alert-danger" role="alert"><strong>Are you sure you want to delete this activity?</strong> <div><button class="btn btn-danger ml-2" (click)="deleteActivity(item._id)">OK</button> <button class="btn btn-secondary ml-2" (click)="deleteConfirmation_Id=''">Cancel</button></div></div>
                        </span>
                    </td>
                    <td width="10%">
                        <span class="text-sm-left font-weight-bold">&nbsp;</span><br/>
                        <span *ngIf="item._id!=editContribution"><button (click)="editContribution=item._id" class="mb-3 mr-3 btn btn-warning">Edit</button><br/></span>
                        <span *ngIf="item._id==editContribution"><button (click)="editContribution=''; saveActivity(item)" class="btn btn-warning">Save</button></span>
                    </td>
                    </tr>
                    </table>                

            </div>
            <div class="text-sm-left">
                <div *ngIf="item.approved">
                    <button class="col-sm-4 text-center btn btn-warning" (click)="item.approved=false; saveActivity(item)">Reject</button>
                    <button class="col-sm-4 text-center float-right btn btn-danger" (click)="confirmDelete(item._id)">Delete</button>            
                </div>
                <span *ngIf="!(item.approved)">
                    <button class="col-sm-4 text-center btn btn-success" (click)="item.approved=true; saveActivity(item)">Approve</button>
                    <button class="col-sm-4 text-center float-right btn btn-danger" (click)="confirmDelete(item._id)">Delete</button>   
                </span>
            </div>
        </div>
    </div>
</div>