<paNavBar></paNavBar>
<div><img style="width: 100%;" [src]="configSettings.banner_logo" alt="IMMA Deep Viewpoints"></div>
<!-- <div class="text-center museum-colour"><br/><br/><br/><span class="text-white" style="font-size:52px; line-height:110%"><strong>Design Museum</strong></span><br/>
    <span class="text-white" style="font-size:52px; line-height:100%"><strong>Deep Viewpoints</strong></span><br/>
    <br/><br/><br/>
</div> -->
<div style="width: 100%; background-color: white;" class="border pl-3 pr-3">
<p class="lead"></p>
<h2>Scripts</h2>
<p class="lead">
    {{configSettings.home_para1a}}<strong>{{configSettings.home_para1b}}</strong>{{configSettings.home_para1c}}
</p>
<p class="lead">{{configSettings.home_para2}}</p>
<p class="lead">{{configSettings.home_para3a}}<a routerLink="/otherPeople">{{configSettings.home_para3b}}</a>{{configSettings.home_para3c}}</p>

<h2>Themes</h2>
</div>
<div *ngFor="let theme of getThemes(); let i = index">
    <div *ngIf="getScriptsOfTheme(theme._id).length > 0" class="accordion " id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="{{'heading_' + theme._id}}">
                <button 
                    class="accordion-button collapsed text-white museum-colour" 
                    type="button" 
                    data-bs-toggle="collapse" 
                    [attr.data-bs-target]="'#collapse_' + theme._id"
                    aria-expanded="false" 
                    [attr.aria-controls]="'collapse_'+ theme._id">
                    <span><h4>{{theme.name}}</h4>
                    {{theme.description}}</span>
                </button>
                <div 
                style="background-color: black;"
                id="{{'collapse_' + theme._id}}" 
                class="accordion-collapse collapse text-white" 
                [attr.aria-labelledby]="'heading_' + theme._id"
                >
                    <div class="accordion-body">
                        <div *ngFor="let script of getScriptsOfTheme(theme._id); let i = index; let last = last" >
                            <h4 class="col-sm-12">{{script.name}}</h4> 
                            <div class="col-sm-12">
                                <p style="white-space: pre-wrap;">{{script.description}}</p>
                                <figcaption *ngIf="script.author != ''" class="blockquote-footer text-white">{{script.author}}</figcaption>
                            </div>

                            <div class="col-sm-12">
                                <div *ngFor="let artwork of getArtworkFromId(script.homepageartworkid);" class="row align-items-end mb-3">
                                    <div class="col-7">
                                        <div class="row" *ngIf="artwork.url">
                                            <a routerLink="/slowLooking/{{script._id}}"><img src="{{artwork.url}}" alt="{{artwork.name}}" style="width: 100%"></a>
                                        </div>
                                        <div class="row" *ngIf="!artwork.url && artwork.fileLocation">
                                            <img src="{{artwork.fileLocation}}" style="cursor: pointer;">
                                        </div>
                                    </div>
                                    <div class="col ml-3">
                                        <div class="row text-left" style="white-space: pre-wrap;" [innerHTML]="artwork.name"></div>
                                        <strong><div class="row text-left" style="white-space: pre-wrap;" [innerHTML]="artwork.artist"></div></strong>
                                        <div class="row text-left" style="white-space: pre-wrap;" [innerHTML]="artwork.year"></div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div *ngFor="let artwork of getArtworkFromId(script.homepageartworkid);" class="row align-items-end mb-3 mr-3">
                                    <div class="col-8" *ngIf="artwork.url">
                                        <a routerLink="/slowLooking/{{script._id}}"><img class="col-sm-12" src="{{artwork.url}}" alt="{{artwork.name}}"></a>
                                    </div>
                                    <div class="col" *ngIf="artwork.url">
                                        <div class="row text-left" style="white-space: pre-wrap;" [innerHTML]="artwork.name"></div>
                                        <strong><div class="row text-left" style="white-space: pre-wrap;" [innerHTML]="artwork.artist"> </div></strong>
                                        <div class="row text-left" style="white-space: pre-wrap;" [innerHTML]="artwork.year"></div>
                                    </div>
                                    <div class="col-8" *ngIf="!artwork.url && artwork.fileLocation">
                                        <img routerLink="/slowLooking/{{script._id}}" class="col-sm-12" src="{{artwork.fileLocation}}" >
                                    </div>
                                    <div class="col" *ngIf="!artwork.url && artwork.fileLocation">
                                        <div class="row text-left" style="white-space: pre-wrap;" [innerHTML]="artwork.name"></div>
                                        <strong><div class="row text-left" style="white-space: pre-wrap;" [innerHTML]="artwork.artist"></div></strong>
                                        <div class="row text-left" style="white-space: pre-wrap;" [innerHTML]="artwork.year"></div>
                                    </div>
                            </div> -->
                            <br/>


                            <div *ngIf="!last" class="col-sm-12">
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </h2>
        </div>
    </div>
</div>
<div style="width: 100%; background-color: white;" class="border pl-3 pr-3">
<br/>
<h2>Other People</h2>
<button class="btn btn-secondary" routerLink="/otherPeople">Find out how others have responded to the scripts</button><br/><br/>
</div>
<br/>
<br/>