<!-- <paOverviewBar></paOverviewBar> -->
<paNavBar></paNavBar>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading1">
        <button class="accordion-button text-white museum-colour" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
            <span><h4>Featured</h4>
              A selection of scripts from Deep Viewpoints
            </span>
        </button>
      </h2>
      <div style="background-color: black;" id="collapse1" class="accordion-collapse collapse show text-white" aria-labelledby="heading1">
          <div class="accordion-body">
              <ngb-carousel *ngIf="firstScripts.length > 0">
                <ng-template ngbSlide *ngFor="let script of firstScripts">
                  <div class="picsum-img-wrapper" style="height: 700px; text-align: center;" *ngFor="let artwork of getArtworkFromId(script.homepageartworkid);">
                    <img style="width: 65%;" src="{{artwork.url}}">
                  </div>
                  <div class="carousel-caption">
                    <div class="row align-items-end">
                      <h3 class="text-left" style="text-shadow: 1.5px 1.5px #000000;">{{script.name}}</h3>
                      <div class="text-left" *ngIf="script.description != ''" style="text-shadow: 1.5px 1.5px #000000;">
                        {{script.description}}
                      </div>
                      <figcaption class="text-left blockquote-footer text-white" style="text-shadow: 1.5px 1.5px #000000;">{{script.author}}</figcaption>
                      <div class="text-left" *ngIf="script.exhibitionids.length > 0" style="text-shadow: 1.5px 1.5px #000000;"><strong>Exhibitions: </strong>
                        <ng-container *ngFor="let exhibition of getExhibitionsFromIds(script.exhibitionids); let last = last">
                          {{exhibition.name}}
                          <ng-container *ngIf="!last">, </ng-container>
                        </ng-container>
                        <br/><br/>
                      </div>
                      <div class="text-left" style="text-shadow: 1.5px 1.5px #000000;"><strong>Themes: </strong>
                        <ng-container *ngFor="let theme of getThemesFromIds(script.themeids); let last = last">
                          {{theme.name}}<ng-container *ngIf="!last">, </ng-container>
                        </ng-container>
                      </div>
                    </div>
                    <div class="row">
                      &nbsp;
                    </div>
                    <div class="row">
                      <div class="col">
                        <a *ngIf="script.open && script.visible" routerLink='/slowLooking/{{script._id}}' [queryParams]="{return:'overview'}">
                          <button class="btn btn-link mr-3" style="font-size: large; color: white; text-shadow: 1.5px 1.5px #000000;">View script <i class='fa fa-link'></i></button>
                        </a>
                      </div>
                      <div class="col">
                        <a *ngIf="script.visible" routerLink='/allResponses/{{script._id}}' [queryParams]="{return:'overview'}">
                          <button class="btn btn-link mr-3" style="font-size: large; color: white; text-shadow: 1.5px 1.5px #000000;">View responses <i class='fa fa-link'></i></button>
                        </a>
                      </div>
                    </div>
                    <div class="row">
                      &nbsp;
                    </div>
                  </div>
                </ng-template>
              </ngb-carousel>
          </div>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading2">
          <button class="accordion-button collapsed text-white museum-colour" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
              <span><h4>Exhibitions</h4>
                {{configSettings.overview_exhibitiondescription}}</span>
          </button>
        </h2>
        <div style="background-color: black;" id="collapse2" class="accordion-collapse collapse text-white" aria-labelledby="heading2">
            <div class="accordion-body">
              <div class="ng-autocomplete" style="width: 100%;">
                <span>Search exhibitions:</span>
                <ng-autocomplete 
                  [data]="exhibitionResults"
                  [searchKeyword]="keywordExhibitions"
                  (selected)='selectEventExhibitions($event)'
                  (inputChanged)='onChangeSearchExhibitions($event)'
                  (inputFocused)='onFocusedExhibitions($event)'
                  [itemTemplate]="itemTemplateExhibitions"
                  [notFoundTemplate]="notFoundTemplateExhibitions"
                  [placeholder]="placeholderTextExhibitions"
                  [historyListMaxNumber]="15"
                  [minQueryLength]="2">                                 
                </ng-autocomplete>
                <ng-template #itemTemplateExhibitions let-item>
                    <a href="javascript:void(0)">
                      <span [innerHTML]="item.name"></span>
                    </a>
                </ng-template>
                <ng-template #notFoundTemplateExhibitions let-notFound>
                <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
              <span *ngIf="selectedExhibition">
                <div class="row">
                  &nbsp;
                </div>
                <div class="row align-items-start">
                  <div class="col-6">
                      <img style="width: 100%;" src="{{selectedExhibition.artwork.url}}" alt="{{selectedExhibition.artwork.name}}">
                  </div>
                  <div class="col">
                    <div class="row text-left"><h4 style="white-space: pre-wrap;" [innerHTML]="selectedExhibition.name"></h4></div>
                    <div class="row text-left"><span style="white-space: pre-wrap;" [innerHTML]="selectedExhibition.description"></span></div>
                    <div class="row text-right">
                      <a href="{{selectedExhibition.url}}" target='_blank'>
                        <button class="btn btn-link mr-3" style="font-size: large; color: white; text-shadow: 1.5px 1.5px #000000;">Exhibition <i class='fa fa-external-link'></i></button>
                      </a>
                    </div>
                  </div>
                </div>
                <hr>
                <ngb-carousel [showNavigationArrows]="selectedExhibition.scripts.length > 1" [showNavigationIndicators]="selectedExhibition.scripts.length > 1">
                  <ng-template ngbSlide *ngFor="let script of selectedExhibition.scripts">
                    <div class="picsum-img-wrapper" style="height: 700px; text-align: center;" *ngFor="let artwork of getArtworkFromId(script.homepageartworkid);">
                      <img style="width: 65%;" src="{{artwork.url}}">
                    </div>
                    <div class="carousel-caption">
                      <div class="row align-items-end">
                        <h3 class="text-left" style="text-shadow: 1.5px 1.5px #000000;">{{script.name}}</h3>
                        <div class="text-left" *ngIf="script.description != ''" style="text-shadow: 1.5px 1.5px #000000;">
                          {{script.description}}
                        </div>
                        <figcaption class="text-left blockquote-footer text-white" style="text-shadow: 1.5px 1.5px #000000;">{{script.author}}</figcaption>
                        <div class="text-left" *ngIf="script.exhibitionids.length > 0" style="text-shadow: 1.5px 1.5px #000000;"><strong>Exhibitions: </strong>
                          <ng-container *ngFor="let exhibition of getExhibitionsFromIds(script.exhibitionids); let last = last">
                            {{exhibition.name}}
                            <ng-container *ngIf="!last">, </ng-container>
                          </ng-container>
                          <br/><br/>
                        </div>
                        <div class="text-left" style="text-shadow: 1.5px 1.5px #000000;"><strong>Themes: </strong>
                          <ng-container *ngFor="let theme of getThemesFromIds(script.themeids); let last = last">
                            {{theme.name}}<ng-container *ngIf="!last">, </ng-container>
                          </ng-container>
                        </div>
                      </div>
                      <div class="row">
                        &nbsp;
                      </div>
                      <div class="row">
                        <div class="col">
                          <a *ngIf="script.open && script.visible" routerLink='/slowLooking/{{script._id}}' [queryParams]="{return:'overview'}">
                            <button class="btn btn-link mr-3" style="font-size: large; color: white; text-shadow: 1.5px 1.5px #000000;">View script <i class='fa fa-link'></i></button>
                          </a>
                        </div>
                        <div class="col">
                          <a *ngIf="script.visible" routerLink='/allResponses/{{script._id}}' [queryParams]="{return:'overview'}">
                            <button class="btn btn-link mr-3" style="font-size: large; color: white; text-shadow: 1.5px 1.5px #000000;">View responses <i class='fa fa-link'></i></button>
                          </a>
                        </div>
                      </div>
                      <div class="row">
                        &nbsp;
                      </div>
                    </div>
                  </ng-template>
                </ngb-carousel>
              </span>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading3">
          <button class="accordion-button collapsed text-white museum-colour" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
              <span><h4>{{configSettings.overview_artworkstitle}}</h4>
                {{configSettings.overview_artworksdescription}}</span>
          </button>
        </h2>
        <div style="background-color: black;" id="collapse3" class="accordion-collapse collapse text-white" aria-labelledby="heading3">
            <div class="accordion-body">
              <div class="ng-autocomplete" style="width: 100%;">
                <span>{{configSettings.overview_artworkssearchprompt}}</span>
                <ng-autocomplete 
                  [data]="artworkResults"
                  [searchKeyword]="keywordArtworks"
                  (selected)='selectEventArtworks($event)'
                  (inputChanged)='onChangeSearchArtworks($event)'
                  (inputFocused)='onFocusedArtworks($event)'
                  [itemTemplate]="itemTemplateArtworks"
                  [notFoundTemplate]="notFoundTemplateArtworks"
                  [placeholder]="placeholderTextArtworks"
                  [historyListMaxNumber]="15"
                  [minQueryLength]="2">                                 
                </ng-autocomplete>
                <ng-template #itemTemplateArtworks let-item>
                    <a href="javascript:void(0)">
                      <span [innerHTML]="item.searchstring"></span>
                    </a>
                </ng-template>
                <ng-template #notFoundTemplateArtworks let-notFound>
                <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
              <span *ngIf="selectedArtwork">
                <div class="row">
                  &nbsp;
                </div>
                <div class="row align-items-end">
                  <div class="col-6">
                      <img style="width: 100%;" src="{{selectedArtwork.artworkurl}}" alt="{{selectedArtwork.name}}">
                  </div>
                  <div class="col">
                    <div class="row text-left" style="white-space: pre-wrap;" [innerHTML]="selectedArtwork.name"></div>
                    <strong><div class="row text-left" style="white-space: pre-wrap;" [innerHTML]="selectedArtwork.artist"></div></strong>
                    <div class="row text-left" style="white-space: pre-wrap;" [innerHTML]="selectedArtwork.year"></div>
                  </div>
                </div>
                <hr>
                <ngb-carousel [showNavigationArrows]="selectedArtwork.scripts.length > 1" [showNavigationIndicators]="selectedArtwork.scripts.length > 1">
                  <ng-template ngbSlide *ngFor="let script of selectedArtwork.scripts">
                    <div class="picsum-img-wrapper" style="height: 700px; text-align: center;" *ngFor="let artwork of getArtworkFromId(script.homepageartworkid);">
                      <img style="width: 65%;" src="{{artwork.url}}">
                    </div>
                    <div class="carousel-caption">
                      <div class="row align-items-end">
                        <h3 class="text-left" style="text-shadow: 1.5px 1.5px #000000;">{{script.name}}</h3>
                        <div class="text-left" *ngIf="script.description != ''" style="text-shadow: 1.5px 1.5px #000000;">
                          {{script.description}}
                        </div>
                        <figcaption class="text-left blockquote-footer text-white" style="text-shadow: 1.5px 1.5px #000000;">{{script.author}}</figcaption>
                        <div class="text-left" *ngIf="script.exhibitionids.length > 0" style="text-shadow: 1.5px 1.5px #000000;"><strong>Exhibitions: </strong>
                          <ng-container *ngFor="let exhibition of getExhibitionsFromIds(script.exhibitionids); let last = last">
                            {{exhibition.name}}
                            <ng-container *ngIf="!last">, </ng-container>
                          </ng-container>
                          <br/><br/>
                        </div>
                        <div class="text-left" style="text-shadow: 1.5px 1.5px #000000;"><strong>Themes: </strong>
                          <ng-container *ngFor="let theme of getThemesFromIds(script.themeids); let last = last">
                            {{theme.name}}<ng-container *ngIf="!last">, </ng-container>
                          </ng-container>
                        </div>
                      </div>
                      <div class="row">
                        &nbsp;
                      </div>
                      <div class="row">
                        <div class="col">
                          <a *ngIf="script.open && script.visible" routerLink='/slowLooking/{{script._id}}' [queryParams]="{return:'overview'}">
                            <button class="btn btn-link mr-3" style="font-size: large; color: white; text-shadow: 1.5px 1.5px #000000;">View script <i class='fa fa-link'></i></button>
                          </a>
                        </div>
                        <div class="col">
                          <a *ngIf="script.visible" routerLink='/allResponses/{{script._id}}' [queryParams]="{return:'overview'}">
                            <button class="btn btn-link mr-3" style="font-size: large; color: white; text-shadow: 1.5px 1.5px #000000;">View responses <i class='fa fa-link'></i></button>
                          </a>
                        </div>
                      </div>
                      <div class="row">
                        &nbsp;
                      </div>
                    </div>
                  </ng-template>
                </ngb-carousel>
              </span>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading4">
            <button class="accordion-button collapsed text-white museum-colour" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                <span><h4>Themes</h4>
                Scripts associated with different themes</span>
            </button>
        </h2>
        <div style="background-color: black;" id="collapse4" class="accordion-collapse collapse text-white" aria-labelledby="heading4">
            <div class="accordion-body">
              <div class="ng-autocomplete" style="width: 100%;">
                <span>Search themes:</span>
                <ng-autocomplete 
                  [data]="themeResults"
                  [searchKeyword]="keywordThemes"
                  (selected)='selectEventThemes($event)'
                  (inputChanged)='onChangeSearchThemes($event)'
                  (inputFocused)='onFocusedThemes($event)'
                  [itemTemplate]="itemTemplateThemes"
                  [notFoundTemplate]="notFoundTemplateThemes"
                  [placeholder]="placeholderTextThemes"
                  [historyListMaxNumber]="15"
                  [minQueryLength]="2">                                 
                </ng-autocomplete>
                <ng-template #itemTemplateThemes let-item>
                    <a href="javascript:void(0)">
                      <span [innerHTML]="item.searchstring"></span>
                    </a>
                </ng-template>
                <ng-template #notFoundTemplateThemes let-notFound>
                <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
              <span *ngIf="selectedTheme">
                <div class="row">
                  &nbsp;
                </div>
                <div class="col">
                  <h3 class="row text-left">{{selectedTheme.name}}</h3>
                  <div class="row text-left">{{selectedTheme.description}}</div>
                </div>
                <hr>
                <ngb-carousel [showNavigationArrows]="selectedTheme.scripts.length > 1" [showNavigationIndicators]="selectedTheme.scripts.length > 1">
                  <ng-template ngbSlide *ngFor="let script of selectedTheme.scripts">
                    <div class="picsum-img-wrapper" style="height: 700px; text-align: center;" *ngFor="let artwork of getArtworkFromId(script.homepageartworkid);">
                      <img style="width: 65%;" src="{{artwork.url}}">
                    </div>
                    <div class="carousel-caption">
                      <div class="row align-items-end">
                        <h3 class="text-left" style="text-shadow: 1.5px 1.5px #000000;">{{script.name}}</h3>
                        <div class="text-left" *ngIf="script.description != ''" style="text-shadow: 1.5px 1.5px #000000;">
                          {{script.description}}
                        </div>
                        <figcaption class="text-left blockquote-footer text-white" style="text-shadow: 1.5px 1.5px #000000;">{{script.author}}</figcaption>
                        <div class="text-left" *ngIf="script.exhibitionids.length > 0" style="text-shadow: 1.5px 1.5px #000000;"><strong>Exhibitions: </strong>
                          <ng-container *ngFor="let exhibition of getExhibitionsFromIds(script.exhibitionids); let last = last">
                            {{exhibition.name}}
                            <ng-container *ngIf="!last">, </ng-container>
                          </ng-container>
                          <br/><br/>
                        </div>
                        <div class="text-left" style="text-shadow: 1.5px 1.5px #000000;"><strong>Themes: </strong>
                          <ng-container *ngFor="let theme of getThemesFromIds(script.themeids); let last = last">
                            {{theme.name}}<ng-container *ngIf="!last">, </ng-container>
                          </ng-container>
                        </div>
                      </div>
                      <div class="row">
                        &nbsp;
                      </div>
                      <div class="row">
                        <div class="col">
                          <a *ngIf="script.open && script.visible" routerLink='/slowLooking/{{script._id}}' [queryParams]="{return:'overview'}">
                            <button class="btn btn-link mr-3" style="font-size: large; color: white; text-shadow: 1.5px 1.5px #000000;">View script <i class='fa fa-link'></i></button>
                          </a>
                        </div>
                        <div class="col">
                          <a *ngIf="script.visible" routerLink='/allResponses/{{script._id}}' [queryParams]="{return:'overview'}">
                            <button class="btn btn-link mr-3" style="font-size: large; color: white; text-shadow: 1.5px 1.5px #000000;">View responses <i class='fa fa-link'></i></button>
                          </a>
                        </div>
                      </div>
                      <div class="row">
                        &nbsp;
                      </div>
                    </div>
                  </ng-template>
                </ngb-carousel>
              </span>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading5">
          <button class="accordion-button collapsed text-white museum-colour" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
              <span><h4>Explore</h4>
              More Deep Viewpoints scripts</span>
          </button>
        </h2>
        <div style="background-color: black;" id="collapse5" class="accordion-collapse collapse text-white" aria-labelledby="heading5">
            <div class="accordion-body">
              <div class="ng-autocomplete" style="width: 100%;">
                <span>Search scripts:</span>
                <ng-autocomplete 
                  [data]="scriptResults"
                  [searchKeyword]="keywordScripts"
                  (selected)='selectEventScripts($event)'
                  (inputChanged)='onChangeSearchScripts($event)'
                  (inputFocused)='onFocusedScripts($event)'
                  [itemTemplate]="itemTemplateScripts"
                  [notFoundTemplate]="notFoundTemplateScripts"
                  [placeholder]="placeholderTextScripts"
                  [historyListMaxNumber]="15"
                  [minQueryLength]="2">                                 
                </ng-autocomplete>
                <ng-template #itemTemplateScripts let-item>
                    <a href="javascript:void(0)">
                        <span [innerHTML]="item.searchstring"></span>  
                    </a>
                </ng-template>
                <ng-template #notFoundTemplateScripts let-notFound>
                <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
              <span *ngIf="selectedScript">
                <ngb-carousel [showNavigationArrows]="false" [showNavigationIndicators]="false">
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper mt-3" style="height: 700px; text-align: center;" *ngFor="let artwork of getArtworkFromId(selectedScript.script.homepageartworkid);">
                      <img style="width: 65%;" src="{{artwork.url}}">
                    </div>
                    <div class="carousel-caption">
                      <div class="row align-items-end" *ngFor="let artwork of getArtworkFromId(selectedScript.script.homepageartworkid);">
                        <h3 class="text-left" style="text-shadow: 1.5px 1.5px #000000;">{{selectedScript.script.name}}</h3>
                        <div class="text-left" *ngIf="selectedScript.script.description != ''" style="text-shadow: 1.5px 1.5px #000000;">
                          {{selectedScript.script.description}}
                        </div>
                        <figcaption class="text-left blockquote-footer text-white" style="text-shadow: 1.5px 1.5px #000000;">{{selectedScript.script.author}}</figcaption>
                        <div class="text-left" *ngIf="selectedScript.script.exhibitionids.length > 0" style="text-shadow: 1.5px 1.5px #000000;"><strong>Exhibitions: </strong>
                          <ng-container *ngFor="let exhibition of getExhibitionsFromIds(selectedScript.script.exhibitionids); let last = last">
                            {{exhibition.name}}
                            <ng-container *ngIf="!last">, </ng-container>
                          </ng-container>
                          <br/><br/>
                        </div>
                        <div class="text-left" style="text-shadow: 1.5px 1.5px #000000;"><strong>Themes: </strong>
                          <ng-container *ngFor="let theme of getThemesFromIds(selectedScript.script.themeids); let last = last">
                            {{theme.name}}<ng-container *ngIf="!last">, </ng-container>
                          </ng-container>
                        </div>
                      </div>
                      <div class="row">
                        &nbsp;
                      </div>
                      <div class="row">
                        <div class="col">
                          <a *ngIf="selectedScript.script.open && selectedScript.script.visible" routerLink='/slowLooking/{{selectedScript.script._id}}' [queryParams]="{return:'overview'}">
                            <button class="btn btn-link mr-3" style="font-size: large; color: white; text-shadow: 1.5px 1.5px #000000;">View script <i class='fa fa-link'></i></button>
                          </a>
                        </div>
                        <div class="col">
                          <a *ngIf="selectedScript.script.visible" routerLink='/allResponses/{{selectedScript.script._id}}' [queryParams]="{return:'overview'}">
                            <button class="btn btn-link mr-3" style="font-size: large; color: white; text-shadow: 1.5px 1.5px #000000;">View responses <i class='fa fa-link'></i></button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngb-carousel>
              </span>
            </div>
        </div>
    </div>
</div>
<div style="width: 100%; background-color: white;" class="border pl-3 pr-3">

<p class="lead"></p>
<p class="lead">
  {{configSettings.overview_para1a}}<strong>{{configSettings.overview_para1b}}</strong>{{configSettings.overview_para1c}}
</p>
<p class="lead">{{configSettings.overview_para2}}</p>

<!-- <p class="lead"></p>
<p class="lead">
  Deep Viewpoints contains short <strong>scripts</strong> that guide you through looking at and responding to artworks. Many of the scripts have been developed by citizen curators, providing a new perspective on the IMMA collection.
</p>
<p class="lead">As well as taking part in the scripts you can also view the responses of others. Responses are pre-moderated before appearing on Deep Viewpoints.</p> -->
</div>
<br/>
<br/>
