<paNavBar></paNavBar>
<p class="lead">Manage your scripts.</p>
<div *ngIf="isAdmin()" class="form-check form-check-inline">
    <label class="form-check-label">Show all scripts:&nbsp;&nbsp;</label>
    <input [(ngModel)]="showallscripts" class="form-check-input" (change)="viewScript='0'; deleteStageConfirmationId=0; showStageHelp=false; newStageMessage=false;"
    type="checkbox"/>
</div>
<p *ngIf="isAdmin() && !showallscripts">
    <label class="form-check-label">Show scripts authored by:&nbsp;&nbsp;</label>
    <select class="form-select form-select-sm" [(ngModel)]="currentUser" (change)="viewScript='0'; deleteStageConfirmationId=0; showStageHelp=false; newStageMessage=false;">
        <option *ngFor="let user of getUsers();" value="{{user.id}}">   
            {{user.id}}: {{user.username}}           
        </option> 
    </select> 
</p>
<div>
    <!-- <div *ngIf="viewScript=='0'">
        <span>Show:</span><br/>
        <span>
            <span class="mr-3"><input type="checkbox" [checked]="showOpenScripts" (change)="showOpenScripts = !showOpenScripts"/><label class="ml-2"> Open </label></span>
            <span class="mr-3"><input type="checkbox" [checked]="showClosedScripts" (change)="showClosedScripts = !showClosedScripts"/><label class="ml-2"> Closed </label></span>
        </span>
    </div> -->
    <div *ngIf="viewScript=='0' && isLoggedIn() && (!isAdmin() || (isAdmin() && currentUser==1 && !showallscripts))" class="col-xs-12 mb-3 mt-2">
        <button class="float-right btn btn-success mb-3" (click)="addScript(); deleteConfirmation_Id=''">Add new script</button><br/><br/>
    </div>
    <div class="col-xs-12" *ngFor="let script of getScripts(); let i = index">

        <div *ngIf="((script.open && showOpenScripts) || (!(script.open) && showClosedScripts)) && (viewScript == '0' || viewScript==script._id)" class="card border p-3 mt-3" style="border-radius: 15px;">
            <!-- <table class="container-fluid"><tr><td width="90%"> -->
            <div *ngIf="editScriptDescription!=script._id" class="col-xs-12">
                <div  class="col-xs-8 left">
                    <h4>
                        <span class="float">{{script.name}}</span>
                        <span *ngIf="viewScript=='0'" class="float-right">
                            <button class="ml-5 btn btn-danger" (click)="confirmDelete(script._id)">Delete script</button>
                            <button class="ml-5 btn btn-secondary" (click)="viewScript=script._id; deleteConfirmation_Id=''">View script</button>  
                        </span>
                        <span *ngIf="viewScript==script._id && editScriptDescription=='0' && editScriptStage==0" class="float-right">
                            <button class="ml-5 btn btn-secondary float-right" (click)="viewScript='0'; deleteStageConfirmationId=0; showStageHelp=false; newStageMessage=false;">Close script</button>
                        </span>
                    </h4>
                </div>
            </div>
            <div class="col-xs-12">

                <!-- show script description --> 
                <span *ngIf="viewScript=='0'">
                    <span *ngIf="deleteConfirmation_Id==script._id">
                        <div class="alert alert-danger" role="alert"><strong>Are you sure you want to delete this script?</strong> <span><button class="btn btn-danger ml-2" (click)="deleteScript(script._id)">OK</button> <button class="btn btn-secondary ml-2" (click)="deleteConfirmation_Id=''">Cancel</button></span></div>
                    </span>
                </span>
                <table *ngIf="editScriptDescription!=script._id"><th></th><th></th>
                    <tr><td class="align-top">
                        <span class="font-weight-bold" >
                            Description:
                        </span>
                    </td><td class="align-top">
                        <span style="white-space: pre-wrap;">{{script.description}}</span>
                        <br/>
                    </td></tr>
                    <tr><td class="align-top">
                        <span class="font-weight-bold">
                            Author: 
                        </span>
                    </td><td class="align-top">
                        <span>
                            {{script.author}}
                        </span>
                        <br/>
                    </td></tr>
                    <tr><td class="align-top">
                        <span class="font-weight-bold">
                            Themes: 
                        </span>
                    </td><td class="align-top">
                        <span *ngFor="let theme of getThemesFromIds(script.themeids); let last = last">
                                {{theme.name}}<span *ngIf="!last">, </span>
                        </span>
                        <br/>
                    </td></tr>

                    <tr *ngIf="!getArtworksFromIds(script.name, script.artworkids, script).length"><td class="align-top">
                        <span class="font-weight-bold">
                            Artworks: 
                        </span>
                    </td><td>
                    </td></tr>

                    <tr *ngFor="let artwork of getArtworksFromIds(script.name, script.artworkids, script); let first = first">
                            <td class="align-top"><span *ngIf="first" class="font-weight-bold">Artworks:</span></td>
                            <td class="align-top">
                                <span *ngIf="artwork.url">
                                    <img src="{{artwork.url}}" alt="{{artwork.name}}" class="img-thumbnail" height="auto" width="150px" >
                                </span>
                                <label class="form-check-label align-top"> 
                                    <div class="col-sm-12"><strong><span style="white-space: pre-wrap;" [innerHTML]="artwork.name"></span></strong></div>
                                    <div class="col-sm-12"><span style="white-space: pre-wrap;" [innerHTML]="artwork.artist"></span></div>
                                    <div class="col-sm-12">{{artwork.year}}</div>
                                    <!-- <span style="white-space: pre-wrap;" [innerHTML]="artwork.name"></span>, <span style="white-space: pre-wrap;" [innerHTML]="artwork.artist"></span>, {{artwork.year}}  -->
                                </label>
                                <br/>
                                </td>
                            <!-- <td><span style="white-space: pre-wrap;" [innerHTML]="artwork.name"></span>, <span style="white-space: pre-wrap;" [innerHTML]="artwork.artist"></span>, {{artwork.year}}</td> -->
                    </tr>

                    <tr><td class="align-top">
                        <span class="font-weight-bold">
                            Homepage artwork: 
                        </span>
                    </td><td class="align-top">
                        <span *ngFor="let artwork of getArtworkFromId(script.homepageartworkid);">
                            <span style="white-space: pre-wrap;" [innerHTML]="artwork.name"></span>, <span style="white-space: pre-wrap;" [innerHTML]="artwork.artist"></span>, {{artwork.year}}
                        </span><br/>
                    </td></tr>
                    <tr><td class="align-top">
                        <span class="font-weight-bold">
                            Status: 
                        </span>
                    </td><td class="align-top">
                        <span *ngIf="script.open">Open</span>
                        <span *ngIf="!script.open">Closed</span><br/>
                    </td></tr>
                    <tr><td class="align-top">
                        <span class="font-weight-bold">
                            Visibility: 
                        </span>
                    </td><td class="align-top">
                        <span *ngIf="script.visible">Public</span>
                        <span *ngIf="!script.visible">Private</span><br/>
                    </td></tr>
                    <tr><td class="align-top">
                        <span class="font-weight-bold">
                            New contributions: 
                        </span>
                    </td><td class="align-top">
                    <span *ngIf="!script.autoapproved">Awaiting approval</span>
                    <span *ngIf="script.autoapproved">Approved</span><br/>
                    </td></tr> 
                    <tr *ngIf="script.open"><td class="align-top">
                        <!-- script visibility -->
                        <span class="mr-3 font-weight-bold">
                            Script URL: 
                        </span>
                    </td><td>
                        <span class="mr-3">
                            <a routerLink='/slowLooking/{{script._id}}' target='_blank' style='color: rgb(108, 117, 125)'>{{scriptURL(script)}}</a>
                        </span>
                    </td></tr>
                </table>
                    <span *ngIf="viewScript==script._id && editScriptDescription=='0' && editScriptStage==0">
                        <span class="float">&nbsp;</span>
                        <span class="float-right">
                            <button class="btn btn-warning" (click)="editScriptDescription=script._id; editScriptStage=0; deleteStageConfirmationId=0; showStageHelp=false; newStageMessage=false;">Edit description</button><br/>
                        </span>
                    </span>
                    <div class="mt-3" *ngIf="viewScript==script._id  && editScriptDescription=='0'">
                        <hr>
                        <span class="font-weight-bold">Stages</span>
                        <!-- <span *ngIf="stagesOfAScript(script)==0">
                            <br/>
                            <span>Add suggested stages: 
                                <button class="btn btn-success mr-1" (click)="addDefaultStagesToScript(script);">Add suggested stages to new script</button>
                            </span>
                        </span> -->
                        <span *ngIf="editScriptStage==0">
                            <br/>Add new stage: 
                            <!-- <button class="btn btn-success mr-1" (click)="addWelcomeStageToScript(script); deleteStageConfirmationId=0; showStageHelp=false;">welcome</button>  -->
                            <button class="btn btn-success mr-1" (click)="addStatementStageToScript(script); deleteStageConfirmationId=0; showStageHelp=false;">statement</button> 
                            <!-- <button class="btn btn-success mr-1" (click)="addContextStageToScript(script); deleteStageConfirmationId=0; showStageHelp=false;">context</button>  -->
                            <button class="btn btn-success mr-1" (click)="addQuestionStageToScript(script); deleteStageConfirmationId=0; showStageHelp=false;">question</button> 
                            <button class="btn btn-success mr-1" (click)="addMultiQuestionStageToScript(script); deleteStageConfirmationId=0; showStageHelp=false;">multiquestion</button> 
                            <button class="btn btn-success mr-1" (click)="addStoryStageToScript(script); deleteStageConfirmationId=0; showStageHelp=false;">story</button>
                            <!-- <button class="btn btn-success mr-1" (click)="addShareWithMuseumStageToScript(script); deleteStageConfirmationId=0; showStageHelp=false;">shareWithMuseum</button> 
                                <button class="btn btn-success mr-1" (click)="addFollowStageToScript(script); deleteStageConfirmationId=0; showStageHelp=false;">follow</button> <button class="btn btn-success mr-1" (click)="addShareWithSomeoneStageToScript(script); deleteStageConfirmationId=0; showStageHelp=false;">shareWithSomeone</button>  -->
                            <!-- <button class="btn btn-success mr-1" (click)="addThankyouStageToScript(script); deleteStageConfirmationId=0; showStageHelp=false;">thankyou</button> -->
                            <img class="ml-3" width="20" style="background-color:white;" src="assets/img/question-help.png" (click)="toggleStageHelp(); newStageMessage=false;">
                        </span>
                   
                        <br/>
                        <div *ngIf="newStageMessage" class="alert alert-success fadeout">
                            {{newStageMessageText}}
                        </div>
                        <div *ngIf="showStageHelp" class="alert alert-info">
                            <!-- <span class="font-weight-bold">welcome: </span><span>Add a welcome message introducing the activity</span><br/> -->
                            <!-- <span class="font-weight-bold">context: </span><span>Provide information or a perspective</span><br/> -->
                            <span class="font-weight-bold">statement: </span><span>Provide a statement giving information or a perspective</span><br/>
                            <span class="font-weight-bold">question: </span><span>Ask a question and optionally provide a help prompt</span><br/>
                            <span class="font-weight-bold">multiquestion: </span><span>Add a number of questions to one stage which can be reloaded at random or shown in sequence</span><br/>
                            <span class="font-weight-bold">story: </span><span>Provide a story stem inspired by the artworks</span><br/>
                            <!-- <span class="font-weight-bold">shareWithMuseum: </span><span>Give the option to share responses with the museum</span><br/>
                            <span class="font-weight-bold">follow: </span><span>Give the option to get a message when their response is published</span><br/>
                            <span class="font-weight-bold">shareWithSomeone: </span><span>Give the option to send the response to a friend or relation</span><br/> -->
                            <!-- <span class="font-weight-bold">thankyou: </span><span>Give a thankyou message for completing the activity</span><br/> -->
                        </div>
                    </div>
               

                <!-- edit script description -->
                <table *ngIf="editScriptDescription==script._id" width=100%><th></th><th></th>
                    <tr><td class="align-top">
                        <!-- script name -->
                        <span class="font-weight-bold">Title: </span>
                    </td><td>
                    <textarea rows="1" class="form-control" [(ngModel)]="script.name"></textarea>
                    </td></tr>
                    <tr>
                        <td class="align-top">
                            <span class="font-weight-bold">Description:</span>
                        </td>
                        <td>
                            <textarea rows="3" class="form-control" [(ngModel)]="script.description"></textarea>
                        </td> 
                    </tr>
                    <tr>
                        <td class="align-top">
                            <span class="font-weight-bold">Author: </span>
                        </td>
                        <td>
                            <textarea rows="1" class="form-control" [(ngModel)]="script.author"></textarea>
                        </td> 
                    </tr>
                    <tr><td class="align-top">
                        <span class="font-weight-bold">Themes: </span>
                    </td><td>
                        <div *ngFor="let theme of getThemes()" class="form-check form-check-inline">
                            <!-- <span style="float: left;" class="mr-2 form-check form-check-inline"> -->
                            <input
                            class="form-check-input"
                            type="checkbox"
                            [value]=theme._id
                            [ngModel] = "script.themeids.includes(theme._id)"
                            (change) = "themesChange(script, theme._id, $event)"
                            />
                            <label class="form-check-label">{{theme.name}}&nbsp;&nbsp;</label>
                            <!-- </span> -->
                        </div><br/>
                        <span *ngIf="!getThemesFromIds(script.themeids).length" class="text-warning">At least one theme must be selected</span>
                    </td></tr>

                    <tr><td  class="align-top">
                        <span class="font-weight-bold">Artworks: </span>
                    </td><td>
                        <div *ngFor="let artwork of getArtworks(script)">
                            <div class="form-check form-check-inline">
                                <input 
                                class="form-check-input"
                                type="checkbox"
                                [value]=artwork._id
                                [ngModel] = "script.artworkids.includes(artwork._id)"
                                (change) = "artworksChange(script, artwork._id, $event)"
                                />
                                <span *ngIf="artwork.url">
                                    <img src="{{artwork.url}}" alt="{{artwork.name}}" class="img-thumbnail" height="auto" width="150px" >
                                </span>
                                <label class="form-check-label"> 
                                    <div class="col-sm-12"><strong><span style="white-space: pre-wrap;" [innerHTML]="artwork.name"></span></strong></div>
                                    <div class="col-sm-12"><span style="white-space: pre-wrap;" [innerHTML]="artwork.artist"></span></div>
                                    <div class="col-sm-12">{{artwork.year}}</div>
                                    <!-- <span style="white-space: pre-wrap;" [innerHTML]="artwork.name"></span>, <span style="white-space: pre-wrap;" [innerHTML]="artwork.artist"></span>, {{artwork.year}}  -->
                                </label>
                            </div>
                        </div>
                        <span *ngIf="!getArtworks(script).length" class="text-warning">From the artwork tab the script author needs to add at least one artwork to the collection<br/></span>
                        <span *ngIf="!getArtworksFromIds(script.name, script.artworkids, script).length" class="text-warning">At least one artwork must be selected</span>
                    </td></tr>

                    <tr><td  class="align-top">
                        <span class="font-weight-bold">Homepage artwork: </span>
                    </td><td class="align-top"> 
                        <div *ngFor="let artwork of getArtworksFromIds(script.name, script.artworkids, script)">
                            <div class="form-check form-check-inline">
                                <input
                                class="form-check-input"
                                type="radio"
                                [value]="artwork._id"
                                name="artwork.name"
                                [(ngModel)] = "script.homepageartworkid"
                                />
                                <label class="form-check-label">&nbsp;<span style="white-space: pre-wrap;" [innerHTML]="artwork.name"></span>, <span style="white-space: pre-wrap;" [innerHTML]="artwork.artist"></span>, {{artwork.year}} </label>
                            </div>
                        </div>
                        <span *ngIf="script.homepageartworkid==undefined" class="text-warning">An artwork for the homepage must be selected</span>
                    </td></tr>


                    <tr><td class="align-top">
                        <!-- script status -->
                        <span class="mr-3 font-weight-bold">
                            Status: 
                        </span>
                    </td><td>
                        <div class="form-check form-check-inline">
                            <input
                            class="form-check-input"
                            type="radio"
                            [value]=true
                            name="open"
                            [(ngModel)] = "script.open"
                            checked
                            />
                            <label class="form-check-label">Open&nbsp;&nbsp;</label>
                            <input
                                class="form-check-input"
                                type="radio"
                                [value]=false
                                name="open"
                                [(ngModel)] = "script.open"
                            />
                            <label class="form-check-label">Closed&nbsp;&nbsp;</label>
                        </div>
                        <div class = "help-block">Open scripts can be undertaken. If also Public they are shown on the Home page and Other People page. Open scripts can be accessed directly from the URL even if they are Private.</div>
                    </td></tr>
                    <tr><td class="align-top">
                        <!-- script visibility -->
                        <span class="mr-3 font-weight-bold">
                            Visibility: 
                        </span>
                    </td><td>
                        <div class="form-check form-check-inline">
                            <input
                            class="form-check-input"
                            type="radio"
                            [value]=true
                            name="visible"
                            [(ngModel)] = "script.visible"
                            checked
                            />
                            <label class="form-check-label">Public&nbsp;&nbsp;</label>
                            <input
                            class="form-check-input"
                            type="radio"
                            [value]=false
                            name="visible"
                            [(ngModel)] = "script.visible"
                            />
                            <label class="form-check-label">Private&nbsp;&nbsp;</label>
                        </div>
                        <div class = "help-block">Public scripts are shown on the Other People page. If also Open they can be undertaken and are shown on the Home page.</div>
                    </td></tr><tr><td class="align-top">
                        <!-- script visibility -->
                        <span class="mr-3 font-weight-bold">
                            New contributions: 
                        </span>
                    </td><td>
                        <div class="form-check form-check-inline">
                            <input
                                class="form-check-input"
                                type="radio"
                                [value]=false
                                name="autoapproved"
                                [(ngModel)] = "script.autoapproved"
                                checked
                            />
                            <label class="form-check-label">&nbsp;Awaiting approval&nbsp;&nbsp;</label>
                            <input
                                class="form-check-input"
                                type="radio"
                                [value]=true
                                name="autoapproved"
                                [(ngModel)] = "script.autoapproved"
                            />
                            <label class="form-check-label">&nbsp;Approved&nbsp;&nbsp;</label>
                        </div>
                        <div class = "help-block">Contributions Awaiting approval have to be moderated from the Management page. Approved contributions appear directly on the Other People page.</div>
                        <!-- <span class="mr-3">
                            <input
                                class="form-check-input"
                                type="radio"
                                [value]=false
                                name="autoapproved"
                                [(ngModel)] = "script.autoapproved"
                                checked
                            />
                            <label class="form-check-label">&nbsp;Awaiting approval </label>
                        </span>
                        <span class="mr-3">
                            <input
                                class="form-check-input"
                                type="radio"
                                [value]=true
                                name="autoapproved"
                                [(ngModel)] = "script.autoapproved"
                            />
                            <label class="form-check-label">&nbsp;Approved </label>
                        </span> -->
                    </td></tr>
                    <tr *ngIf="script.open"><td class="align-top">
                        <!-- script visibility -->
                        <span class="mr-3 font-weight-bold">
                            Script URL: 
                        </span>
                    </td><td>
                        <span class="mr-3">
                            <a routerLink='/slowLooking/{{script._id}}' target='_blank' style='color: rgb(108, 117, 125)'>{{scriptURL(script)}}</a>
                        </span>
                    </td></tr>
                    <tr><td colspan="2">
                        <span class="float">&nbsp;</span>
                        <span class="float-right">
                            <button class="btn btn-warning" (click)="editScriptDescription='0'; saveScript(script)" [disabled]="!getThemesFromIds(script.themeids).length || !getArtworksFromIds(script.name, script.artworkids, script).length || script.homepageartworkid==undefined">Save description</button> 
                        </span>
                    </td></tr>
                </table>
                <div class="mt-3" *ngIf="editScriptDescription==script._id">
                    <hr>
                    <span class="font-weight-bold">Stages</span>
                </div>
                <span *ngIf="viewScript==script._id">
                   <!-- stages of selected scriptid -->
                    <table width=100%>
                    <tbody cdkDropList (cdkDropListDropped)="stageDrop(script, $event)">
                    <tr *ngFor="let stage of script.stages; let i = index" class="border mt-3 p-3 mb-3" cdkDrag cdkDragLockAxis="y">
                    <td>
                        <!-- show script stage -->
                        <span *ngIf="stage.id!=editScriptStage"> 
                            <span class="drag-handle" style="cursor: move;" cdkDragHandle>
                                <span *ngIf="editScriptStage==0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                                </svg>
                                </span>
                            </span>{{i+1}}<br/>
                            <!-- <span class="font-weight-bold">&nbsp;Position: </span><span>{{i+1}}</span><br/> -->
                            <span class="font-weight-bold">Title: </span><span>{{stage.title}}</span><br/>
                            <span class="font-weight-bold">Type: </span><span>{{stage.stagetype}}</span><br/>

                            <span *ngIf="!getArtworksFromIds(stage.title, stage.includeartworks, script, stage).length" class="font-weight-bold">
                                Show artworks: 
                            </span>
                            <table>
                            <tr *ngFor="let artwork of getArtworksFromIds(stage.title, stage.includeartworks, script, stage); let first = first">
                                    <td><span *ngIf="first" class="font-weight-bold">Show artworks:</span></td><td><span style="white-space: pre-wrap;" [innerHTML]="artwork.name"></span>, <span style="white-space: pre-wrap;" [innerHTML]="artwork.artist"></span>, {{artwork.year}}</td>
                            </tr>
                            </table>


                            <span *ngIf='stage.stagetype=="multiquestion"'>
                                <span class="font-weight-bold">Style: </span>
                                <span *ngIf='stage.sequential'>Questions presented in sequence</span>
                                <span *ngIf='!stage.sequential'>Random question that can be reloaded</span>
                                <br/>
                            </span>
                            <span *ngIf='stage.stagetype=="multiquestion"'>
                                <span *ngFor="let question of stage.body; let i=index" class="mr-3">
                                    <span class="font-weight-bold">Text {{i+1}} : </span><span style="white-space: pre-wrap;" [innerHTML]="question"></span><br/>
                                </span>
                            </span>
                            <span *ngIf='stage.stagetype!=="multiquestion"'>
                                <span class="font-weight-bold">Text: </span><span style="white-space: pre-wrap;" [innerHTML]="stage.body"></span><br/>
                            </span>
                            <span *ngIf='stage.stagetype=="question"'>
                                <span class="font-weight-bold">Help text: </span><span style="white-space: pre-wrap;">{{stage.help}}</span><br/>
                            </span>
                            <span *ngIf="editScriptStage==0 && editScriptDescription=='0'"> 
                                <span class="float">&nbsp;</span>
                                <span class="float-right">
                                    <button class="ml-5 btn btn-danger" (click)="confirmStageDelete(stage.id); showStageHelp=false; newStageMessage=false;">Delete stage</button>
                                    <button class="ml-5 btn btn-warning" (click)="editScriptStage=stage.id; deleteStageConfirmationId=0; showStageHelp=false; newStageMessage=false;">Edit stage</button>
                                </span>
                            </span><br/>
                            <span *ngIf="deleteStageConfirmationId==stage.id">
                                <div class="alert alert-danger mt-3" role="alert"><strong>Are you sure you want to delete this stage?</strong> <div><button class="btn btn-danger ml-2" (click)="deleteStage(script, stage); deleteStageConfirmationId=0; showStageHelp=false;">OK</button> <button class="btn btn-secondary ml-2" (click)="deleteStageConfirmationId=0; showStageHelp=false;">Cancel</button></div></div>
                            </span>
                        </span>
                        <!-- edit script stage -->
                        <span *ngIf="stage.id==editScriptStage">
                            <table width=100%><th></th><th></th>
                            <tr><td>
                                <span class="drag-handle" style="cursor: move;" cdkDragHandle>
                                </span>
                                {{i+1}}
                            </td><td>
                                <!-- <select (change)="shiftStagePosition(script, $event, i); editScriptStage=0">
                                    <option *ngFor="let pos of script.stages; let ind = index" [selected]="ind==i" value="{{ind}}">   
                                        {{ind+1}}           
                                    </option> 
                                </select> -->
                                <!-- <textarea rows="1" class="form-control" [(ngModel)]="stage.title"></textarea> -->
                            </td></tr>
                            <tr><td>
                                <span class="font-weight-bold">Type:</span>
                            </td><td>
                                <span>{{stage.stagetype}}</span>
                            </td></tr>
                            <tr><td>
                                <span class="font-weight-bold">Title:</span>
                            </td><td>
                                <textarea rows="1" class="form-control" [(ngModel)]="stage.title"></textarea>
                            </td></tr>
                            <tr>
                                <td class="align-top">
                                    <span class="font-weight-bold">Show artworks: </span>
                                </td>
                                <td>
                                    <table>
                                        <tr *ngFor="let artwork of getArtworksFromIds(script.name, script.artworkids, script)" class="mr-3">
                                            <td class="align-middle">
                                                <input
                                                type="checkbox"
                                                [value]=artwork._id
                                                [ngModel] = "stage.includeartworks.includes(artwork._id)"
                                                (change) = "includeArtworksChange(script, stage, artwork._id, $event)"
                                                />
                                            </td>
                                            <!-- <td class="align-top">
                                                <span *ngIf="artwork.url">
                                                    <img src="{{artwork.url}}" alt="{{artwork.name}}" class="img-thumbnail" height="auto" width="150px" >
                                                </span>
                                            </td> -->
                                            <td class="align-top">
                                                <!-- <label class="form-check-label"> 
                                                    <div class="col-sm-12"><strong><span style="white-space: pre-wrap;" [innerHTML]="artwork.name"></span></strong></div>
                                                    <div class="col-sm-12"><span style="white-space: pre-wrap;" [innerHTML]="artwork.artist"></span></div>
                                                    <div class="col-sm-12">{{artwork.year}}</div>
                                                </label> -->
                                                <label class="form-check-label ml-1"> <span style="white-space: pre-wrap;" [innerHTML]="artwork.name"></span>, <span style="white-space: pre-wrap;" [innerHTML]="artwork.artist"></span>, {{artwork.year}} </label>
                                            </td>
                                            <br/>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr *ngIf='stage.stagetype=="multiquestion"'>
                                <td class="align-top"><span class="font-weight-bold">Style: </span></td>
                                <td>
                                    <input
                                    type="radio"
                                    [value]=true
                                    name="sequential"
                                    [(ngModel)] = "stage.sequential"
                                    />
                                    <label class="form-check-label ml-1">Questions presented in sequence</label><br/>
                                    <input
                                    type="radio"
                                    [value]=false
                                    name="sequential"
                                    [(ngModel)] = "stage.sequential"
                                    />
                                    <label class="form-check-label ml-1">Random question that can be reloaded</label><br/>
                                </td>
                            </tr>

                            <tr *ngIf='stage.stagetype=="story"'><td class="align-top">
                                <span class="font-weight-bold">Instructions:</span>
                            </td><td>
                                <textarea rows="3" class="form-control" [(ngModel)]="stage.help"></textarea>
                            </td></tr>

                            <tr><td class="align-top">
                                <span class="font-weight-bold">Text:</span>
                            </td><td>
                                <span *ngIf='stage.stagetype!="multiquestion"'>
                                    <textarea rows="3" class="form-control" [(ngModel)]="stage.body"></textarea>
                                </span>
                                <span *ngIf='stage.stagetype=="multiquestion"'>
                                    <table style="width: 100%;">
                                        <tbody cdkDropList (cdkDropListDropped)="drop($event, script, i)">
                                            <tr *ngFor="let q of stage.body; let index=index; trackBy:trackByIdx" cdkDrag cdkDragLockAxis="y">
                                                <td>
                                                    <span class="drag-handle" style="cursor: move;" cdkDragHandle>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                                                        </svg>
                                                    </span>
                                                    <span class="font-weight-bold">Question {{index+1}}: </span><br/><textarea rows="3" class="form-control" [(ngModel)]="stage.body[index]"></textarea>
                                                    <button class="btn btn-danger float-right" (click)="deleteMultistageQuestion(script, i, index)" [disabled]="stage.body.length < 3">Delete question</button>
                                                </td>
                                            </tr> 
                                        </tbody>
                                    </table>
                                </span>
                            </td></tr>
                            <tr *ngIf='stage.stagetype=="question"'><td class="align-top">
                                <span class="font-weight-bold">Help text:</span>
                            </td><td>
                                <textarea rows="3" class="form-control" [(ngModel)]="stage.help"></textarea>
                            </td></tr>

                            <tr *ngIf='stage.stagetype=="multiquestion"'><td></td><td><button class="btn btn-success mr-3" (click)='stage.body = stage.body.concat("Question goes here")'>Add new question</button></td></tr>
                            
                            </table>
                            <span>
                                <button class="btn btn-warning float-right" (click)="editScriptStage=0; saveScript(script)">Save stage</button><br/>
                            </span>
                        </span>
                    </td>
                    </tr>
                    </tbody>
                    </table>
                </span>
            </div>
            <!-- <td class="align-top" width="10%">
                <span *ngIf="viewScript=='0'">
                    <button class="mr-5 mb-3 btn btn-secondary" (click)="viewScript=script._id; deleteConfirmation_Id=''">View</button>
                    <button class="btn btn-danger" (click)="confirmDelete(script._id)">Delete</button>
                </span>
                <!-- <span *ngIf="viewScript==script._id && editScriptDescription=='0' && editScriptStage==0">
                    <button class="btn btn-secondary" (click)="viewScript='0'; deleteStageConfirmationId=0; showStageHelp=false;">Close</button>
                </span> -->
            <!-- </td></tr></table> -->
        </div>
    </div><br/>
</div>