<paNavBar></paNavBar>
<div *ngIf="!scriptfound">
    <p>Script not found. The script might be currently closed to new contributions.</p>
    <button class="btn btn-secondary" routerLink="/home">Try Deep Viewpoints activities for yourself</button><br/><br/>
</div>
<div *ngIf="scriptfound" class="border pl-5 pr-5 pt-3">
<div *ngFor="let stage of currentScript.stages; let i = index">
    <div *ngIf="slowLookingCurrentScriptStageIndex == i">
        <div *ngIf="stage.stagetype == 'welcome'">  
            <h5 class="col-sm-12">{{stage.title}}</h5>

            <!-- show included artworks -->
            <div *ngFor="let artwork of getArtworksFromIds(stage.includeartworks); let first = first">
                <span *ngIf="artwork.url">
                    <img class="col-sm-12" src="{{artwork.url}}" alt="{{artwork.name}}">
                </span>
                <span *ngIf="!artwork.url && artwork.fileLocation">
                    <img class="col-sm-12" src="{{artwork.fileLocation}}" >
                </span>
                <div class="col-sm-12"><strong><span style="white-space: pre-wrap;" [innerHTML]="artwork.name"></span></strong></div>
                <div class="col-sm-12"><span style="white-space: pre-wrap;" [innerHTML]="artwork.artist"></span></div>
                <div class="col-sm-12">{{artwork.year}}</div><br/>
            </div> 

            <p class="col-sm-12" style="white-space: pre-wrap;" [innerHTML]="stage.body"></p>
            <span *ngIf="slowLookingMaximumScriptStageIndex == i">
                <div class="text-center">
                    <button class="m-3 btn btn-warning" (click)="addActivity(); slowLookingScript='0'; " routerLink="/home">Save your Deep Viewpoints activity</button>
                </div>
            </span>
            <span *ngIf="slowLookingMaximumScriptStageIndex != i">
                <div class="text-right">
                    <button  class="m-3 btn btn-warning" (click)="slowLookingCurrentScriptStageIndex=i+1; ">Continue</button>
                </div>
            </span>
        </div>
        <div *ngIf="stage.stagetype == 'statement'">  
            <h5 class="col-sm-12">{{stage.title}}</h5>

            <!-- show included artworks -->
            <div *ngFor="let artwork of getArtworksFromIds(stage.includeartworks); let first = first">
                <span *ngIf="artwork.url">
                    <img class="col-sm-12" src="{{artwork.url}}" alt="{{artwork.name}}">
                </span>
                <span *ngIf="!artwork.url && artwork.fileLocation">
                    <img class="col-sm-12" src="{{artwork.fileLocation}}" >
                </span>
                <div class="col-sm-12"><strong><span style="white-space: pre-wrap;" [innerHTML]="artwork.name"></span></strong></div>
                <div class="col-sm-12"><span style="white-space: pre-wrap;" [innerHTML]="artwork.artist"></span></div>
                <div class="col-sm-12">{{artwork.year}}</div><br/>
            </div>

            <p class="col-sm-12" style="white-space: pre-wrap;" [innerHTML]="stage.body"></p>
            <span *ngIf="slowLookingMaximumScriptStageIndex == i">
                <div class="text-center">
                    <button class="m-3 btn btn-warning" (click)="addActivity(); slowLookingScript='0';" routerLink="/home">Save your Deep Viewpoints activity</button>
                </div>
            </span>
            <span *ngIf="slowLookingMaximumScriptStageIndex != i">
                <div class="text-right">
                    <button class="m-3 btn btn-warning" (click)="slowLookingCurrentScriptStageIndex=i+1; ">Continue</button>
                </div>
            </span>
        </div>
        <div *ngIf="stage.stagetype == 'context'">  
            <h5 class="col-sm-12">{{stage.title}}</h5>

            <!-- show included artworks -->
            <div *ngFor="let artwork of getArtworksFromIds(stage.includeartworks); let first = first">
                <span *ngIf="artwork.url">
                    <img class="col-sm-12" src="{{artwork.url}}" alt="{{artwork.name}}">
                </span>
                <span *ngIf="!artwork.url && artwork.fileLocation">
                    <img class="col-sm-12" src="{{artwork.fileLocation}}" >
                </span>
                <div class="col-sm-12"><strong><span style="white-space: pre-wrap;" [innerHTML]="artwork.name"></span></strong></div>
                <div class="col-sm-12"><span style="white-space: pre-wrap;" [innerHTML]="artwork.artist"></span></div>
                <div class="col-sm-12">{{artwork.year}}</div><br/>
            </div>

            <p class="col-sm-12" style="white-space: pre-wrap;" [innerHTML]="stage.body"></p>
            <span *ngIf="slowLookingMaximumScriptStageIndex == i">
                <div class="text-center">
                    <button class="m-3 btn btn-warning" (click)="addActivity(); slowLookingScript='0';" routerLink="/home">Save your Deep Viewpoints activity</button>
                </div>
            </span>
            <span *ngIf="slowLookingMaximumScriptStageIndex != i">
                <div class="text-right">
                    <button class="m-3 btn btn-warning" (click)="slowLookingCurrentScriptStageIndex=i+1; ">Continue</button>
                </div>
            </span>
        </div>
        <div *ngIf="stage.stagetype == 'multiquestion'"> 
            <div class="form-group">

                <!-- initialise a new action and add its stage and question  -->
                <!-- {{intialiseMultiquestionAction(stage, stage.body)}} -->

                <!-- show title and question  -->
                <h5 class="col-sm-12">{{stage.title}}</h5>

                <!-- show included artworks -->
                <div *ngFor="let artwork of getArtworksFromIds(stage.includeartworks); let first = first">
                    <span *ngIf="artwork.url">
                        <img class="col-sm-12" src="{{artwork.url}}" alt="{{artwork.name}}">
                    </span>
                    <span *ngIf="!artwork.url && artwork.fileLocation">
                        <img class="col-sm-12" src="{{artwork.fileLocation}}" >
                    </span>
                    <div class="col-sm-12"><strong><span style="white-space: pre-wrap;" [innerHTML]="artwork.name"></span></strong></div>
                    <div class="col-sm-12"><span style="white-space: pre-wrap;" [innerHTML]="artwork.artist"></span></div>
                    <div class="col-sm-12">{{artwork.year}}</div><br/>
                </div>

                <span *ngIf="stage.sequential">
                    <div class="col-sm-12">{{stage.body[multiquestionIndex]}}</div><br/>
                    <textarea [formControl]="answervalue" type="text" rows="3" #answer class="form-control" (keyup)="answerChanged($event)"></textarea>
                    <span *ngIf="submittedAnswer" class="text-warning">Your answer has been saved</span><br/>
                    <span *ngIf="multiquestionIndex <= 0">
                        <button class="m-3 btn btn-warning" (click)="updateAnswers(multiquestionIndex, answer.value); submittedAnswer=true;">Save</button> 
                    </span>
                    <span *ngIf="multiquestionIndex > 0">
                        <button class="m-3 btn btn-warning" [disabled]="multiquestionIndex <= 0" (click)="updateAnswers(multiquestionIndex, answer.value); setAnswerValue(multiquestionIndex-1); decrementMultiquestionIndex(); submittedAnswer=true;">Previous</button> 
                    </span>
                    <span *ngIf="multiquestionIndex >= stage.body.length-1">
                        <button class="m-3 btn btn-warning" (click)="updateAnswers(multiquestionIndex, answer.value); submittedAnswer=true;">Save</button> 
                    </span>
                    <span *ngIf="multiquestionIndex < stage.body.length-1">
                        <button class="m-3 btn btn-warning" [disabled]="multiquestionIndex >= stage.body.length-1" (click)="updateAnswers(multiquestionIndex, answer.value); setAnswerValue(multiquestionIndex+1); incrementMultiquestionIndex(stage.body.length-1); submittedAnswer=true;">Next</button> 
                    </span>
                </span>
                
                <span *ngIf="!stage.sequential">
                    <span class="col-sm-12">{{stage.body[multiquestionIndex]}}</span><br/><br/>
                    <button class="m-3 btn btn-warning" (click)="randomiseQuestion(stage.body.length-1); submittedAnswer=false;">Reload question</button>
                    <textarea [formControl]="answervalue" type="text" rows="3" #answer class="form-control" (keyup)="answerChanged($event)"></textarea>
                    <span *ngIf="submittedAnswer" class="text-warning">Your answer has been saved</span><br/>
                    <button class="m-3 btn btn-warning" (click)="updateAnswers(multiquestionIndex, answer.value); submittedAnswer=true;">Save</button>
                </span>

                <!-- return to list if last stage -->
                <span *ngIf="slowLookingMaximumScriptStageIndex == i">
                    <div class="text-center">
                        <button class="m-3 btn btn-warning" (click)="newMultiquestionAction.questionStage = stage; newMultiquestionAction.questions = stage.body; addActionToActivity(newMultiquestionAction); resetNewMultiQuestionAction(); resetAnswerValue(); addActivity(); slowLookingScript='0'; multiquestionIndex=0" routerLink="/home">Save your Deep Viewpoints activity</button>
                    </div>
                </span>
                <!-- continue if not last stage -->
                <span *ngIf="slowLookingMaximumScriptStageIndex != i">
                    <div class="text-right">
                        <button class="m-3 btn btn-warning" (click)="newMultiquestionAction.questionStage = stage; newMultiquestionAction.questions = stage.body; slowLookingCurrentScriptStageIndex=i+1; addActionToActivity(newMultiquestionAction); resetNewMultiQuestionAction(); resetAnswerValue(); showQuestionHelp=false; submittedAnswer=false; multiquestionIndex=0">Continue</button>
                    </div>
                </span>


        
            </div>
        </div>

        <div *ngIf="stage.stagetype == 'question'"> 
            <div class="form-group">
                <!-- initialise a new action and add its stage and question  -->
                <!-- {{intialiseQuestionAction(stage, stage.body)}} -->

                <!-- show title and question  -->
                <h5 class="col-sm-12">{{stage.title}}</h5>

                <!-- show included artworks -->
                <div *ngFor="let artwork of getArtworksFromIds(stage.includeartworks); let first = first">
                    <span *ngIf="artwork.url">
                        <img class="col-sm-12" src="{{artwork.url}}" alt="{{artwork.name}}">
                    </span>
                    <span *ngIf="!artwork.url && artwork.fileLocation">
                        <img class="col-sm-12" src="{{artwork.fileLocation}}" >
                    </span>
                    <div class="col-sm-12"><strong><span style="white-space: pre-wrap;" [innerHTML]="artwork.name"></span></strong></div>
                    <div class="col-sm-12"><span style="white-space: pre-wrap;" [innerHTML]="artwork.artist"></span></div>
                    <div class="col-sm-12">{{artwork.year}}</div><br/>
                </div>

                <p class="col-sm-12" style="white-space: pre-wrap;" [innerHTML]="stage.body"></p>
                <div *ngIf="stage.help">
                    <span style="float:right"><img width="20" style="background-color:white;" src="assets/img/question-help.png" (click)="toggleQuestionHelp()"></span>
                    <span class="col-sm-12" style="float:left; white-space: pre-wrap;" *ngIf="showQuestionHelp">{{stage.help}}</span>
                </div>
                <!-- get the answer -->
                <textarea class="col-sm-12" rows="3" class="form-control" [(ngModel)]="newQuestionAction.answer"></textarea>

                <!-- return to list if last stage -->
                <span *ngIf="slowLookingMaximumScriptStageIndex == i">
                    <div class="text-center">
                        <button class="m-3 btn btn-warning" (click)="newQuestionAction.questionStage = stage; newQuestionAction.question = stage.body; addActionToActivity(newQuestionAction); resetNewQuestionAction(); addActivity(); slowLookingScript='0';" routerLink="/home">Save your Deep Viewpoints activity</button>
                    </div>
                </span>
                <!-- continue if not last stage -->
                <span *ngIf="slowLookingMaximumScriptStageIndex != i">
                    <div class="text-right">
                        <button class="m-3 btn btn-warning" (click)="slowLookingCurrentScriptStageIndex=i+1; newQuestionAction.questionStage = stage; newQuestionAction.question = stage.body; addActionToActivity(newQuestionAction); resetNewQuestionAction(); showQuestionHelp=false;">Continue</button>
                    </div>
                </span>
            </div>
        </div>   

        <div *ngIf="stage.stagetype == 'story'"> 
            <div class="form-group">

                <!-- show title  -->
                <h5 class="col-sm-12">{{stage.title}}</h5>

                <!-- show included artworks -->
                <div *ngFor="let artwork of getArtworksFromIds(stage.includeartworks); let first = first">
                    <span *ngIf="artwork.url">
                        <img class="col-sm-12" src="{{artwork.url}}" alt="{{artwork.name}}">
                    </span>
                    <span *ngIf="!artwork.url && artwork.fileLocation">
                        <img class="col-sm-12" src="{{artwork.fileLocation}}" >
                    </span>
                    <div class="col-sm-12"><strong><span style="white-space: pre-wrap;" [innerHTML]="artwork.name"></span></strong></div>
                    <div class="col-sm-12"><span style="white-space: pre-wrap;" [innerHTML]="artwork.artist"></span></div>
                    <div class="col-sm-12">{{artwork.year}}</div><br/>
                </div>

                <p class="col-sm-12" style="white-space: pre-wrap;" [innerHTML]="stage.help"></p>

                <p class="col-sm-12" style="white-space: pre-wrap;" [innerHTML]="stage.body"></p>

                <!-- get the answer -->
                <textarea class="col-sm-12" rows="3" class="form-control" [(ngModel)]="newStoryAction.answer"></textarea>

                <!-- return to list if last stage -->
                <span *ngIf="slowLookingMaximumScriptStageIndex == i">
                    <div class="text-center">
                        <button class="m-3 btn btn-warning" (click)="newStoryAction.storyStage = stage; newStoryAction.question = stage.body; addActionToActivity(newStoryAction); resetNewStoryAction(); addActivity(); slowLookingScript='0';" routerLink="/home">Save your Deep Viewpoints activity</button>
                    </div>
                </span>
                <!-- continue if not last stage -->
                <span *ngIf="slowLookingMaximumScriptStageIndex != i">
                    <div class="text-right">
                        <button class="m-3 btn btn-warning" (click)="slowLookingCurrentScriptStageIndex=i+1; newStoryAction.storyStage = stage; newStoryAction.question = stage.body; addActionToActivity(newStoryAction); resetNewStoryAction();">Continue</button>
                    </div>
                </span>
            </div>
        </div>

        <div *ngIf="stage.stagetype == 'shareWithMuseum'">  
            <div class="form-group">
                <!-- {{intialiseShareWithMuseumAction(stage)}} -->
                <h5 class="col-sm-12">{{stage.title}}</h5>

                 <!-- show included artworks -->
                <div *ngFor="let artwork of getArtworksFromIds(stage.includeartworks); let first = first">
                    <span *ngIf="artwork.url">
                        <img class="col-sm-12" src="{{artwork.url}}" alt="{{artwork.name}}">
                    </span>
                    <span *ngIf="!artwork.url && artwork.fileLocation">
                        <img class="col-sm-12" src="{{artwork.fileLocation}}" >
                    </span>
                    <div class="col-sm-12"><strong><span style="white-space: pre-wrap;" [innerHTML]="artwork.name"></span></strong></div>
                    <div class="col-sm-12"><span style="white-space: pre-wrap;" [innerHTML]="artwork.artist"></span></div>
                    <div class="col-sm-12">{{artwork.year}}</div><br/>
                </div>

                <p class="col-sm-12" style="white-space: pre-wrap;" [innerHTML]="stage.body"></p>
            </div>
            <div class="form-check">
                <input
                    type="radio"
                    [value]=true
                    name="share"
                    [(ngModel)] = "newShareWithMusemAction.share"
                    checked
                />
                <label class="form-check-label" for="flexRadioDefault2"> agree </label>
            </div>
            <div class="form-check">
                <input
                    type="radio"
                    [value]=false
                    name="share"
                    [(ngModel)] = "newShareWithMusemAction.share"
              />
              <label class="form-check-label" for="flexRadioDefault1"> disagree </label>
            </div>

            <span *ngIf="slowLookingMaximumScriptStageIndex == i">
                <div class="text-center">
                    <button class="m-3 btn btn-warning" (click)="newShareWithMusemAction.shareWithMuseumStage = stage; addActionToActivity(newShareWithMusemAction); resetNewShareWithMusemAction(); addActivity(); slowLookingScript='0';" routerLink="/home">Save your Deep Viewpoints activity</button>
                </div>
            </span>
            <span *ngIf="slowLookingMaximumScriptStageIndex != i">
                <div class="text-right">
                    <button class="m-3 btn btn-warning" (click)="newShareWithMusemAction.shareWithMuseumStage = stage; slowLookingCurrentScriptStageIndex=i+1; addActionToActivity(newShareWithMusemAction); resetNewShareWithMusemAction();">Continue</button>
                </div>
            </span>
        </div>
        <div *ngIf="stage.stagetype == 'follow'">  
            <div class="form-group">
                <!-- {{intialiseFollowAction(stage)}} -->
                <h5 class="col-sm-12">{{stage.title}}</h5>

                <!-- show included artworks -->
                <div *ngFor="let artwork of getArtworksFromIds(stage.includeartworks); let first = first">
                    <span *ngIf="artwork.url">
                        <img class="col-sm-12" src="{{artwork.url}}" alt="{{artwork.name}}">
                    </span>
                    <span *ngIf="!artwork.url && artwork.fileLocation">
                        <img class="col-sm-12" src="{{artwork.fileLocation}}" >
                    </span>
                    <div class="col-sm-12"><strong><span style="white-space: pre-wrap;" [innerHTML]="artwork.name"></span></strong></div>
                    <div class="col-sm-12"><span style="white-space: pre-wrap;" [innerHTML]="artwork.artist"></span></div>
                    <div class="col-sm-12">{{artwork.year}}</div><br/>
                </div>

                <p class="col-sm-12" style="white-space: pre-wrap;" [innerHTML]="stage.body"></p>
                <div class="form-group">
                    <label class="col-sm-12" for="emailaddress">Your email address:</label>
                    <textarea id="emailaddress" rows="1" class="form-control col-sm-12" [(ngModel)]="newFollowAction.emailAddress"></textarea>
                </div>
            </div>
            <span *ngIf="slowLookingMaximumScriptStageIndex == i">
                <div class="text-center">
                    <button class="m-3 btn btn-warning" (click)="newFollowAction.followStage = stage; addActionToActivity(newFollowAction); resetFollowAction(); addActivity(); slowLookingScript='0';" routerLink="/home">Save your Deep Viewpoints activity</button>
                </div>
            </span>
            <span *ngIf="slowLookingMaximumScriptStageIndex != i">
                <div class="text-right">
                    <button class="m-3 btn btn-warning" (click)="newFollowAction.followStage = stage; slowLookingCurrentScriptStageIndex=i+1; addActionToActivity(newFollowAction); resetFollowAction();">Continue</button>
                </div>
            </span>
        </div>
        <div *ngIf="stage.stagetype == 'shareWithSomeone'">  
            <div class="form-group">
                <!-- {{intialiseShareWithSomeoneAction(stage)}} -->
                <h5 class="col-sm-12">{{stage.title}}</h5>

                <!-- show included artworks -->
                <div *ngFor="let artwork of getArtworksFromIds(stage.includeartworks); let first = first">
                    <span *ngIf="artwork.url">
                        <img class="col-sm-12" src="{{artwork.url}}" alt="{{artwork.name}}">
                    </span>
                    <span *ngIf="!artwork.url && artwork.fileLocation">
                        <img class="col-sm-12" src="{{artwork.fileLocation}}" >
                    </span>
                    <div class="col-sm-12"><strong><span style="white-space: pre-wrap;" [innerHTML]="artwork.name"></span></strong></div>
                    <div class="col-sm-12"><span style="white-space: pre-wrap;" [innerHTML]="artwork.artist"></span></div>
                    <div class="col-sm-12">{{artwork.year}}</div><br/>
                </div>

                <p class="col-sm-12" style="white-space: pre-wrap;" [innerHTML]="stage.body"></p>
                <div class="form-group">
                    <label class="col-sm-12" for="emailaddress">Their email address:</label>
                    <textarea id="emailaddress" rows="1" class="form-control col-sm-12" [(ngModel)]="newShareWithFriendAction.emailAddress"></textarea>
                </div>
                <div class="form-group">
                    <label class="col-sm-12" for="emailaddress">Message:</label>
                    <textarea id="emailaddress" rows="5" class="form-control" [(ngModel)]="newShareWithFriendAction.message"></textarea>
                </div>
            </div>
            <span *ngIf="slowLookingMaximumScriptStageIndex == i">
                <div class="text-center">
                    <button class="m-3 btn btn-warning" (click)="newShareWithFriendAction.shareWithOtherStage = stage; addActionToActivity(newShareWithFriendAction); resetShareWithSomeoneAction(); addActivity(); slowLookingScript='0';" routerLink="/home">Save your Deep Viewpoints activity</button>
                </div>
            </span>
            <span *ngIf="slowLookingMaximumScriptStageIndex != i">
                <div class="text-right">
                    <button class="m-3 btn btn-warning" (click)="newShareWithFriendAction.shareWithOtherStage = stage; slowLookingCurrentScriptStageIndex=i+1;  addActionToActivity(newShareWithFriendAction); resetShareWithSomeoneAction();">Continue</button>
                </div>
            </span>
        </div>
        <div *ngIf="stage.stagetype == 'thankyou'">  
            <h5 class="col-sm-12">{{stage.title}}</h5>

            <!-- show included artworks -->
            <div *ngFor="let artwork of getArtworksFromIds(stage.includeartworks); let first = first">
                <span *ngIf="artwork.url">
                    <img class="col-sm-12" src="{{artwork.url}}" alt="{{artwork.name}}">
                </span>
                <span *ngIf="!artwork.url && artwork.fileLocation">
                    <img class="col-sm-12" src="{{artwork.fileLocation}}" >
                </span>
                <div class="col-sm-12"><strong><span style="white-space: pre-wrap;" [innerHTML]="artwork.name"></span></strong></div>
                <div class="col-sm-12"><span style="white-space: pre-wrap;" [innerHTML]="artwork.artist"></span></div>
                <div class="col-sm-12">{{artwork.year}}</div><br/>
            </div>

            <p class="col-sm-12" style="white-space: pre-wrap;" [innerHTML]="stage.body"></p>
            <!-- <div>
                <div class="btn btn-primary text-center" style="background-color: #55acee;" href="#!" role="button">
                    <i class="fab fa-twitter"></i>
                </div>                       
            </div> -->
            <span *ngIf="slowLookingMaximumScriptStageIndex == i">
                <div class="text-center">
                    <button class="m-3 btn btn-warning" (click)="addActivity(); slowLookingScript='0'; " routerLink="/home">Save your Deep Viewpoints activity</button>
                </div>
            </span>
            <span *ngIf="slowLookingMaximumScriptStageIndex != i">
                <div class="text-right">
                    <button class="m-3 btn btn-warning" (click)="slowLookingCurrentScriptStageIndex=i+1; ">Continue</button>
                </div>
            </span>
        </div>
    </div>
</div> 
</div>
<br/><br/>