<paNavBar></paNavBar>
<div *ngIf="!scriptfound">
    <p>Script not found. The script might be currently closed to new contributions.</p>
    <button class="btn btn-secondary" routerLink="/home">Try Deep Viewpoints activities for yourself</button><br/><br/>
</div>
<div *ngIf="scriptfound" class="border pl-3 pr-3 pt-3" style="width:100%">
<div *ngFor="let stage of currentScript.stages; let i = index">
    <div *ngIf="slowLookingCurrentScriptStageIndex == i">

        <div *ngIf="stage.stagetype == 'statement'">  
            <h2 class="col-sm-12">{{stage.title}}</h2>

            <!-- show included artworks -->
            <div *ngFor="let artwork of getArtworksFromIds(stage.includeartworks); let first = first" class="row align-items-end mb-3 mr-3">
                <div class="col-8">
                    <span *ngIf="artwork.url">
                        <img class="col-sm-12" src="{{artwork.url}}" alt="{{artwork.name}}" (click)="startLightbox(artwork.url)" style="cursor: pointer;">
                    </span>
                    <span *ngIf="!artwork.url && artwork.fileLocation">
                        <img class="col-sm-12" src="{{artwork.fileLocation}}" style="cursor: pointer;">
                    </span>
                </div>
                <div class="col">
                    <strong><div class="row text-left" style="white-space: pre-wrap;" [innerHTML]="artwork.name"></div></strong>
                    <div class="row text-left" style="white-space: pre-wrap;" [innerHTML]="artwork.artist"> </div>
                    <div class="row text-left" style="white-space: pre-wrap;" [innerHTML]="artwork.year"></div>
                </div>
            </div>

            <p class="col-sm-12" style="white-space: pre-wrap;" [innerHTML]="stage.body | linkifyHtml"></p>

            <span *ngIf="slowLookingMaximumScriptStageIndex == i">
                <div class="text-right">
                    <!-- <button class="m-3 btn btn-warning" (click)="statementBack(i);" *ngIf="i > 0">Back</button> -->
                    <button class="m-3 btn btn-warning" (click)="statementEnd();" routerLink="/home">Save</button>
                </div>
            </span>
            <span *ngIf="slowLookingMaximumScriptStageIndex != i">
                <div class="text-right">
                    <!-- <button class="m-3 btn btn-warning" (click)="statementBack(i);" *ngIf="i > 0">Back</button> -->
                    <button *ngIf="slowLookingMaximumScriptStageIndex != i" class="m-3 btn btn-warning" (click)="statementContinue(i);">Continue</button>
                </div>
            </span>
        </div>

        <div *ngIf="stage.stagetype == 'multiquestion'"> 
            <div class="form-group">

                <!-- initialise a new action and add its stage and question  -->
                <!-- {{intialiseMultiquestionAction(stage, stage.body)}} -->

                <!-- show title and question  -->
                <h2 class="col-sm-12">{{stage.title}}</h2>

                <!-- show included artworks -->
                <div *ngFor="let artwork of getArtworksFromIds(stage.includeartworks); let first = first" class="row align-items-end mb-3 mr-3">
                    <div class="col-8">
                        <span *ngIf="artwork.url">
                            <img class="col-sm-12" src="{{artwork.url}}" alt="{{artwork.name}}" (click)="startLightbox(artwork.url)" style="cursor: pointer;">
                        </span>
                        <span *ngIf="!artwork.url && artwork.fileLocation">
                            <img class="col-sm-12" src="{{artwork.fileLocation}}" style="cursor: pointer;">
                        </span>
                    </div>
                    <div class="col">
                        <strong><div class="row text-left" style="white-space: pre-wrap;" [innerHTML]="artwork.name"></div></strong>
                        <div class="row text-left" style="white-space: pre-wrap;" [innerHTML]="artwork.artist"> </div>
                        <div class="row text-left" style="white-space: pre-wrap;" [innerHTML]="artwork.year"></div>
                    </div>
                </div>

                <p class="col-sm-12" style="white-space: pre-wrap;" [innerHTML]="stage.help | linkifyHtml" *ngIf="stage.help"></p>

                <span *ngIf="stage.sequential">
                    <!-- <div class="col-sm-12">{{stage.body[multiquestionIndex]}}</div><br/> -->
                    <p class="col-sm-12" style="white-space: pre-wrap;" [innerHTML]="stage.body[multiquestionIndex] | linkifyHtml"></p>
                    <textarea [formControl]="answervalue" type="text" rows="3" #answer class="form-control" (keyup)="answerChanged($event)"></textarea>
                    <span *ngIf="submittedAnswer" class="text-warning col-sm-12">Your answer has been saved</span><br/>
                    <span *ngIf="multiquestionIndex <= 0">
                        <button class="m-3 btn btn-warning" disabled="true" (click)="updateAnswers(multiquestionIndex, answer.value); submittedAnswer=true;">Previous</button> 
                    </span>
                    <span *ngIf="multiquestionIndex > 0">
                        <button class="m-3 btn btn-warning" [disabled]="multiquestionIndex <= 0" (click)="updateAnswers(multiquestionIndex, answer.value); setAnswerValue(multiquestionIndex-1); decrementMultiquestionIndex(); submittedAnswer=true;">Previous</button> 
                    </span>
                    <span *ngIf="multiquestionIndex >= stage.body.length-1">
                        <button class="m-3 btn btn-warning" disabled="true" (click)="updateAnswers(multiquestionIndex, answer.value); submittedAnswer=true;">Next</button> 
                    </span>
                    <span *ngIf="multiquestionIndex < stage.body.length-1">
                        <button class="m-3 btn btn-warning" [disabled]="multiquestionIndex >= stage.body.length-1" (click)="updateAnswers(multiquestionIndex, answer.value); setAnswerValue(multiquestionIndex+1); incrementMultiquestionIndex(stage.body.length-1); submittedAnswer=true;">Next</button> 
                    </span>

                    <!-- return to list if last stage -->
                    <span *ngIf="slowLookingMaximumScriptStageIndex == i">
                        <div class="text-right">
                            <!-- <button class="m-3 btn btn-warning" *ngIf="i > 0">Back</button> -->
                            <button class="m-3 btn btn-warning" (click)="multiquestionEnd(multiquestionIndex, answer.value, stage, stage.body, newMultiquestionAction)" routerLink="/home">Save</button>
                        </div>
                    </span>
                    <!-- continue if not last stage -->
                    <span *ngIf="slowLookingMaximumScriptStageIndex != i">
                        <div class="text-right">
                            <!-- <button class="m-3 btn btn-warning" *ngIf="i > 0">Back</button> -->
                            <button class="m-3 btn btn-warning" (click)="multiquestionContinue(multiquestionIndex, answer.value, stage, stage.body, i, newMultiquestionAction)">Continue</button>
                        </div>
                    </span>
                </span>
                
                <span *ngIf="!stage.sequential">
                    <!-- <span class="col-sm-12">{{stage.body[multiquestionIndex]}}</span><br/><br/> -->
                    <p class="col-sm-12" style="white-space: pre-wrap;" [innerHTML]="stage.body[multiquestionIndex] | linkifyHtml"></p>
                    <!-- <button class="m-3 btn btn-warning" (click)="randomiseQuestion(stage.body.length-1); submittedAnswer=false;">Reload question</button> -->
                    <textarea [formControl]="answervalue" type="text" rows="3" #answer class="form-control" (keyup)="answerChanged($event)"></textarea>
                    <span *ngIf="submittedAnswer" class="text-warning col-sm-12">Your answer has been saved</span><br/>
                    <button class="m-3 btn btn-warning" (click)="updateAnswers(multiquestionIndex, answer.value); submittedAnswer=true; randomiseQuestion(stage.body.length-1);">Reload question</button>
                    <!-- <button class="m-3 btn btn-warning" (click)="updateAnswers(multiquestionIndex, answer.value); submittedAnswer=true;">Save</button> -->

                    <!-- return to list if last stage -->
                    <span *ngIf="slowLookingMaximumScriptStageIndex == i">
                        <div class="text-right">
                            <!-- <button class="m-3 btn btn-warning" *ngIf="i > 0">Back</button> -->
                            <button class="m-3 btn btn-warning" (click)="multiquestionEnd(multiquestionIndex, answer.value, stage, stage.body, newMultiquestionAction)" routerLink="/home">Save</button>
                        </div>
                    </span>
                    <!-- continue if not last stage -->
                    <span *ngIf="slowLookingMaximumScriptStageIndex != i">
                        <div class="text-right">
                            <!-- <button class="m-3 btn btn-warning" *ngIf="i > 0">Back</button> -->
                            <button class="m-3 btn btn-warning" (click)="multiquestionContinue(multiquestionIndex, answer.value, stage, stage.body, i, newMultiquestionAction)">Continue</button>
                        </div>
                    </span>
                </span>
            </div>
        </div>

        <div *ngIf="stage.stagetype == 'question'"> 
            <div class="form-group">
                <!-- initialise a new action and add its stage and question  -->
                <!-- {{intialiseQuestionAction(stage, stage.body)}} -->

                <!-- show title and question  -->
                <h2 class="col-sm-12">{{stage.title}}</h2>

                <!-- show included artworks -->
                <div *ngFor="let artwork of getArtworksFromIds(stage.includeartworks); let first = first" class="row align-items-end mb-3 ">
                    <div class="col-8">
                        <span *ngIf="artwork.url">
                            <img class="col-sm-12" src="{{artwork.url}}" alt="{{artwork.name}}" (click)="startLightbox(artwork.url)" style="cursor: pointer;">
                        </span>
                        <span *ngIf="!artwork.url && artwork.fileLocation">
                            <img class="col-sm-12" src="{{artwork.fileLocation}}" style="cursor: pointer;">
                        </span>
                    </div>
                    <div class="col">
                        <strong><div class="row text-left" style="white-space: pre-wrap;" [innerHTML]="artwork.name"></div></strong>
                        <div class="row text-left" style="white-space: pre-wrap;" [innerHTML]="artwork.artist"> </div>
                        <div class="row text-left" style="white-space: pre-wrap;" [innerHTML]="artwork.year"></div>
                    </div>
                </div>

                <p class="col-sm-12" style="white-space: pre-wrap;" [innerHTML]="stage.body | linkifyHtml"></p>
                <div *ngIf="stage.help">
                    <div class="col-sm-12"><img align="right" width="20" style="background-color:white;" src="assets/img/question-help.png" (click)="toggleQuestionHelp()"></div>
                    <div class="col-sm-12" style="float:left; white-space: pre-wrap;" *ngIf="showQuestionHelp" [innerHTML]="stage.help | linkifyHtml"></div>
                </div>
                <!-- get the answer -->
                <textarea class="col-sm-12" rows="3" class="form-control" [(ngModel)]="newQuestionAction.answer"></textarea>

                <!-- return to list if last stage -->
                <span *ngIf="slowLookingMaximumScriptStageIndex == i">
                    <div class="text-right">
                        <!-- <button class="m-3 btn btn-warning" *ngIf="i > 0">Back</button> -->
                        <button class="m-3 btn btn-warning" (click)="questionEnd(stage, stage.body, newQuestionAction);" routerLink="/home">Save</button>
                    </div>
                </span>
                <!-- continue if not last stage -->
                <span *ngIf="slowLookingMaximumScriptStageIndex != i">
                    <div class="text-right">
                        <!-- <button class="m-3 btn btn-warning" *ngIf="i > 0">Back</button> -->
                        <button class="m-3 btn btn-warning" (click)="questionContinue(i, stage, stage.body, newQuestionAction);">Continue</button>
                    </div>
                </span>
            </div>
        </div>   

        <div *ngIf="stage.stagetype == 'story'"> 
            <div class="form-group">

                <!-- show title  -->
                <h2 class="col-sm-12">{{stage.title}}</h2>

                <!-- show included artworks -->
                <div *ngFor="let artwork of getArtworksFromIds(stage.includeartworks); let first = first" class="row align-items-end mb-3">
                    <div class="col-8">
                        <span *ngIf="artwork.url">
                            <img class="col-sm-12" src="{{artwork.url}}" alt="{{artwork.name}}" (click)="startLightbox(artwork.url)" style="cursor: pointer;">
                        </span>
                        <span *ngIf="!artwork.url && artwork.fileLocation">
                            <img class="col-sm-12" src="{{artwork.fileLocation}}" style="cursor: pointer;">
                        </span>
                    </div>
                    <div class="col">
                        <strong><div class="row text-left" style="white-space: pre-wrap;" [innerHTML]="artwork.name"></div></strong>
                        <div class="row text-left" style="white-space: pre-wrap;" [innerHTML]="artwork.artist"> </div>
                        <div class="row text-left" style="white-space: pre-wrap;" [innerHTML]="artwork.year"></div>
                    </div>
                </div>

                <p class="col-sm-12" style="white-space: pre-wrap;" [innerHTML]="stage.help | linkifyHtml"></p>

                <p class="col-sm-12" style="white-space: pre-wrap;" [innerHTML]="stage.body | linkifyHtml"></p>

                <!-- get the answer -->
                <textarea class="col-sm-12" rows="3" class="form-control" [(ngModel)]="newStoryAction.answer"></textarea>

                <!-- return to list if last stage -->
                <span *ngIf="slowLookingMaximumScriptStageIndex == i">
                    <div class="text-right">
                        <!-- <button class="m-3 btn btn-warning" *ngIf="i > 0">Back</button> -->
                        <button class="m-3 btn btn-warning" (click)="storyEnd(stage, stage.body, newStoryAction);" routerLink="/home">Save</button>
                    </div>
                </span>

                <!-- continue if not last stage -->
                <span *ngIf="slowLookingMaximumScriptStageIndex != i">
                    <div class="text-right">
                        <!-- <button class="m-3 btn btn-warning" *ngIf="i > 0">Back</button> -->
                        <button class="m-3 btn btn-warning" (click)="storyContinue(i, stage, stage.body, newStoryAction);">Continue</button>
                    </div>
                </span>
            </div>
        </div>
        
    </div>
</div> 
</div>
<br/><br/>