<paNavBar></paNavBar>
<div *ngIf="!scriptfound">
    <p>Script not found. The script might be currently closed to new contributions.</p>
    <!-- <button class="btn btn-secondary" [routerLink]="routerLink">Try Deep Viewpoints activities for yourself</button><br/><br/> -->
</div>
<div *ngIf="scriptfound" class="pt-3 pl-3 pr-3" style="background-color: white; width:100%"> 
<ng-container *ngFor="let stage of currentScript.stages; let i = index">
    <div *ngIf="slowLookingCurrentScriptStageIndex == i">
        <div *ngIf="stage.stagetype == 'statement'">  
            <h2>{{stage.title}}</h2>

            <div>
                <ng-container *ngIf="getArtworksFromIds(stage.includeartworks).length > 0">
                    <div *ngFor="let artwork of getArtworksFromIds(stage.includeartworks).slice(0,1); let first = first" class="row align-items-end mb-3">
                        <div class="col-sm-6">
                            <div class="row" *ngIf="artwork.url">
                                <img src="{{artwork.url}}" alt="{{artwork.name}}" (click)="startLightbox(artwork.url)" style="cursor: pointer;" (error)="handleMissingImage($event)">
                            </div>
                            <div class="row" *ngIf="!artwork.url && artwork.fileLocation">
                                <img src="{{artwork.fileLocation}}" style="cursor: pointer;" (error)="handleMissingImage($event)">
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="col-sm-12">
                                <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.name"></div>
                                <strong><div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.artist"></div></strong>
                                <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.year"></div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="getArtworksFromIds(stage.includeartworks).length > 1">
                    <div class="row itemsBlock">
                        <div *ngFor="let artwork of getArtworksFromIds(stage.includeartworks).slice(1);" class="col-md-4 col-sm-6 col-12 pb-3">
                            <div class="row">
                                <img src="{{artwork.url}}" alt="{{artwork.name}}" (click)="startLightbox(artwork.url)" style="height: auto; width: 100%; cursor: pointer;" (error)="handleMissingImage($event)">
                            </div>
                            <div class="row">
                                <div class="ml-3">
                                    <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.name"></div>
                                    <strong><div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.artist"></div></strong>
                                    <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.year"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <!-- <div *ngFor="let artwork of getArtworksFromIds(stage.includeartworks);" class="row align-items-end mb-3">
                    <div class="col-sm-6">
                        <div class="row" *ngIf="artwork.url">
                            <img src="{{artwork.url}}" alt="{{artwork.name}}" (click)="startLightbox(artwork.url)" style="cursor: pointer;" (error)="handleMissingImage($event)">
                        </div>
                        <div class="row" *ngIf="!artwork.url && artwork.fileLocation">
                            <img src="{{artwork.fileLocation}}" style="cursor: pointer;" (error)="handleMissingImage($event)">
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="col-sm-12">
                            <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.name"></div>
                            <strong><div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.artist"></div></strong>
                            <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.year"></div>
                        </div>
                    </div>
                </div> -->
            </div>

            <p style="white-space: pre-wrap;" [innerHTML]="stage.body | linkifyHtml"></p>

            <div *ngIf="slowLookingMaximumScriptStageIndex == i" class="row bg-light border-top">
                <div class="text-left">
                    <figcaption class="mt-3 text-left blockquote-footer">{{currentScript.author}}</figcaption>
                </div>
                <div class="text-right">
                    <button class="mr-2 mb-3 btn btn-secondary" *ngIf="i != 0" (click)="statementBack(i);"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>
                    <button class="mb-3 btn btn-secondary" (click)="statementEnd();" [routerLink]="routerLink">Close <i class="fa fa-close" aria-hidden="true"></i></button>
                </div>
            </div>
            <div *ngIf="slowLookingMaximumScriptStageIndex != i" class="row bg-light border-top">
                <div class="text-left">
                    <figcaption class="mt-3 text-left blockquote-footer">{{currentScript.author}}</figcaption>
                </div>
                <div class="text-right">
                    <button class="mr-2 mb-3 btn btn-secondary" *ngIf="i != 0" (click)="statementBack(i);"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>
                    <button *ngIf="slowLookingMaximumScriptStageIndex != i" class="mb-3 btn btn-secondary" (click)="statementContinue(i);">Continue <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>

        <div *ngIf="stage.stagetype == 'multiquestion'" class="form-group"> 
            <!-- <div class="form-group"> -->

                <!-- initialise a new action and add its stage and question  -->
                <!-- {{intialiseMultiquestionAction(stage, stage.body)}} -->

                <!-- show title and question  -->
                <h2>{{stage.title}}</h2>

                <div>
                    <!-- show included artworks -->
                    <ng-container *ngIf="getArtworksFromIds(stage.includeartworks).length > 0">
                        <div *ngFor="let artwork of getArtworksFromIds(stage.includeartworks).slice(0,1); let first = first" class="row align-items-end mb-3">
                            <div class="col-sm-6">
                                <div class="row" *ngIf="artwork.url">
                                    <img src="{{artwork.url}}" alt="{{artwork.name}}" (click)="startLightbox(artwork.url)" style="cursor: pointer;" (error)="handleMissingImage($event)">
                                </div>
                                <div class="row" *ngIf="!artwork.url && artwork.fileLocation">
                                    <img src="{{artwork.fileLocation}}" style="cursor: pointer;" (error)="handleMissingImage($event)">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="col-sm-12">
                                    <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.name"></div>
                                    <strong><div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.artist"></div></strong>
                                    <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.year"></div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="getArtworksFromIds(stage.includeartworks).length > 1">
                        <div class="row itemsBlock">
                            <div *ngFor="let artwork of getArtworksFromIds(stage.includeartworks).slice(1);" class="col-md-4 col-sm-6 col-12 pb-3">
                                <div class="row">
                                    <img src="{{artwork.url}}" alt="{{artwork.name}}" (click)="startLightbox(artwork.url)" style="height: auto; width: 100%; cursor: pointer;" (error)="handleMissingImage($event)">
                                </div>
                                <div class="row">
                                    <div class="ml-3">
                                        <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.name"></div>
                                        <strong><div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.artist"></div></strong>
                                        <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.year"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>

                <div class="alert alert-info" style="white-space: pre-wrap;" [innerHTML]="stage.help | linkifyHtml" *ngIf="stage.help"></div>

                
                <ng-container *ngIf="stage.sequential">
                    <!-- <div class="col-sm-12">{{stage.body[multiquestionIndex]}}</div><br/> -->
                    
                    <p style="white-space: pre-wrap;" [innerHTML]="stage.questions[multiquestionIndex].title | linkifyHtml"></p>

                    <!-- get answer -->
                    <div *ngIf="!stage.questions[multiquestionIndex].choice">
                        <!-- <textarea [formControl]="answervalue" type="text" rows="3" #answer class="form-control" (keyup)="answerChanged($event)"></textarea> -->
                        <textarea [formControl]="answervalue" type="text" rows="3" class="form-control" (keyup)="answerChanged($event)"></textarea>
                    </div>
                    <div *ngIf="stage.questions[multiquestionIndex].choice">
                        <ng-container *ngIf="!stage.questions[multiquestionIndex].mulitselect">
                            <div *ngFor="let option of stage.questions[multiquestionIndex].options" class="form-check ml-1">
                                <input
                                    class="form-check-input"
                                    type="radio"
                                    [value]="option"
                                    [formControl]="answervalue"
                                    (change) = "submittedAnswer=false"
                                />
                                <label class="form-check-label">{{option}}</label><br/>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="stage.questions[multiquestionIndex].mulitselect">
                            <div *ngFor="let option of stage.questions[multiquestionIndex].options" class="form-check ml-1">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    [value]=option
                                    [ngModel] = "isSelectioninMQAnswer(option)"
                                    (change) = "submittedAnswer=false; updateCheckboxMQAnswer(option, $event)"
                                />
                                <label class="form-check-label">{{option}}</label><br/>
                            </div>
                        </ng-container>
                    </div>
                    <div class="row mb-3">
                        <div>
                            {{multiquestionIndex+1}}/{{stage.questions.length}}
                        </div>
                        <!-- <div class="col-2 mx-auto" style="min-width: 11em;"> -->
                        <div class="mx-auto text-center" style="width: 100%;">
                            <!-- <span *ngIf="submittedAnswer" class="text-warning ml-1">Your last response has been saved</span><br/> -->
                            <span *ngIf="multiquestionIndex <= 0">
                                <button class="mb-1 mr-1 btn btn-warning" disabled="true" (click)="updateAnswers(multiquestionIndex, answervalue.value); submittedAnswer=(!stage.questions[multiquestionIndex].choice||stage.questions[multiquestionIndex].options.length > 0);"><i class="fa fa-arrow-left" aria-hidden="true"></i> Previous question</button> 
                            </span>
                            <span *ngIf="multiquestionIndex > 0">
                                <button class="mb-1 mr-1 btn btn-warning" [disabled]="multiquestionIndex <= 0" (click)="updateAnswers(multiquestionIndex, answervalue.value); setAnswerValue(multiquestionIndex-1); submittedAnswer=(!stage.questions[multiquestionIndex].choice||stage.questions[multiquestionIndex].options.length > 0); decrementMultiquestionIndex();"><i class="fa fa-arrow-left" aria-hidden="true"></i> Previous question</button> 
                            </span>
                            <span *ngIf="multiquestionIndex >= stage.questions.length-1">
                                <button class="mb-1 ml-1 btn btn-warning" disabled="true" (click)="updateAnswers(multiquestionIndex, answervalue.value); submittedAnswer=(!stage.questions[multiquestionIndex].choice||stage.questions[multiquestionIndex].options.length > 0);">Next question <i class="fa fa-arrow-right" aria-hidden="true"></i></button> 
                            </span>
                            <span *ngIf="multiquestionIndex < stage.questions.length-1">
                                <button class="mb-1 ml-1 btn btn-warning" [disabled]="multiquestionIndex >= stage.questions.length-1" (click)="updateAnswers(multiquestionIndex, answervalue.value); setAnswerValue(multiquestionIndex+1); submittedAnswer=(!stage.questions[multiquestionIndex].choice||stage.questions[multiquestionIndex].options.length > 0); incrementMultiquestionIndex(stage.questions.length-1);">Next question <i class="fa fa-arrow-right" aria-hidden="true"></i></button> 
                            </span>
                        </div>
                        <!-- <div>
                            {{multiquestionIndex+1}}/{{stage.questions.length}}
                        </div> -->
                    </div>

                    <!-- return to list if last stage -->
                    <div *ngIf="slowLookingMaximumScriptStageIndex == i" class="row bg-light border-top">
                        <div class="text-left">
                                <figcaption class="mt-3 text-left blockquote-footer">{{currentScript.author}}</figcaption>
                        </div>
                        <div class="text-right">
                            <button class="mr-2 mb-3 btn btn-secondary" *ngIf="i != 0" (click)="multiquestionBack(multiquestionIndex, answervalue.value, stage, stage.questions, i, newMultiquestionAction)"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>
                            <button class="mb-3 btn btn-secondary" (click)="multiquestionEnd(i, multiquestionIndex, answervalue.value, stage, stage.questions, newMultiquestionAction)" [routerLink]="routerLink">Close <i class="fa fa-close" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <!-- continue if not last stage -->
                    <div *ngIf="slowLookingMaximumScriptStageIndex != i" class="row bg-light border-top">
                        <div class="text-left">
                            <figcaption class="mt-3 text-left blockquote-footer">{{currentScript.author}}</figcaption>
                        </div>
                        <div class="text-right">
                            <button class="mr-2 mb-3 btn btn-secondary" *ngIf="i != 0" (click)="multiquestionBack(multiquestionIndex, answervalue.value, stage, stage.questions, i, newMultiquestionAction)"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>
                            <button class="mb-3 btn btn-secondary" (click)="multiquestionContinue(multiquestionIndex, answervalue.value, stage, stage.questions, i, newMultiquestionAction)">Continue <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </ng-container>
                
                <span *ngIf="!stage.sequential">
                    <!-- <span class="col-sm-12">{{stage.body[multiquestionIndex]}}</span><br/><br/> -->
                    
                    <p style="white-space: pre-wrap;" [innerHTML]="stage.questions[multiquestionIndex].title | linkifyHtml"></p>
                    <!-- <button class="m-3 btn btn-warning" (click)="randomiseQuestion(stage.body.length-1); submittedAnswer=false;">Reload question</button> -->

                    <div *ngIf="!stage.questions[multiquestionIndex].choice" style="width: 100%;">
                        <textarea [formControl]="answervalue" type="text" rows="3" #answer class="form-control" (keyup)="answerChanged($event)"></textarea>
                    </div>
                    <div *ngIf="stage.questions[multiquestionIndex].choice">
                        <div *ngFor="let option of stage.questions[multiquestionIndex].options" class="form-check ml-1">
                            <input
                                class="form-check-input"
                                type="radio"
                                [value]="option"
                                [formControl]="answervalue"
                                (change) = "submittedAnswer=false"
                            />
                            <label class="form-check-label">{{option}}</label><br/>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <!-- <div class="col">&nbsp;
                        </div> -->
                        <div>
                            {{multiquestionIndex+1}}/{{stage.questions.length}}
                        </div>
                        <div class="mx-auto text-center" style="width: 100%;">
                            <!-- <span *ngIf="submittedAnswer" class="text-warning ml-1">Your answer has been saved</span><br/> -->
                            <button class="mb-1 btn btn-warning" (click)="updateAnswers(multiquestionIndex, answervalue.value); submittedAnswer=(!stage.questions[multiquestionIndex].choice||stage.questions[multiquestionIndex].options.length > 0); randomiseQuestion(stage.questions.length-1);">Shuffle question <i class="fa fa-refresh" aria-hidden="true"></i></button>
                        </div>
                        <!-- <div class="col">&nbsp;
                        </div> -->
                    </div>
                    
                    <!-- <button class="m-3 btn btn-warning" (click)="updateAnswers(multiquestionIndex, answer.value); submittedAnswer=true;">Close</button> -->
                    <!-- return to list if last stage -->
                    <div *ngIf="slowLookingMaximumScriptStageIndex == i" class="row bg-light border-top">
                        <div class="text-left">
                            <figcaption class="mt-3 text-left blockquote-footer">{{currentScript.author}}</figcaption>
                        </div>
                        <div class="text-right">
                            <button class="mr-2 mb-3 btn btn-secondary" *ngIf="i != 0" (click)="multiquestionBack(multiquestionIndex, answervalue.value, stage, stage.questions, i, newMultiquestionAction)"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>
                            <button class="mb-3 btn btn-secondary" (click)="multiquestionEnd(i, multiquestionIndex, answervalue.value, stage, stage.questions, newMultiquestionAction)" [routerLink]="routerLink">Close <i class="fa fa-close" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <!-- continue if not last stage -->
                    <div *ngIf="slowLookingMaximumScriptStageIndex != i" class="row bg-light border-top">
                        <div class="text-left">
                            <figcaption class="mt-3 text-left blockquote-footer">{{currentScript.author}}</figcaption>
                        </div>
                        <div class="text-right">
                            <button class="mr-2 mb-3 btn btn-secondary" *ngIf="i != 0" (click)="multiquestionBack(multiquestionIndex, answervalue.value, stage, stage.questions, i, newMultiquestionAction)"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>
                            <button class="mb-3 btn btn-secondary" (click)="multiquestionContinue(multiquestionIndex, answervalue.value, stage, stage.questions, i, newMultiquestionAction)">Continue <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </span>
            <!-- </div> -->
        </div>

        <div *ngIf="stage.stagetype == 'question'"> 
            <div class="form-group">
                <!-- initialise a new action and add its stage and question  -->
                <!-- {{intialiseQuestionAction(stage, stage.body)}} -->

                <!-- show title and question  -->
                <h2>{{stage.title}}</h2>

                <div>
                    <!-- show included artworks -->
                    <ng-container *ngIf="getArtworksFromIds(stage.includeartworks).length > 0">
                        <div *ngFor="let artwork of getArtworksFromIds(stage.includeartworks).slice(0,1); let first = first" class="row align-items-end mb-3">
                            <div class="col-sm-6">
                                <div class="row" *ngIf="artwork.url">
                                    <img src="{{artwork.url}}" alt="{{artwork.name}}" (click)="startLightbox(artwork.url)" style="cursor: pointer;" (error)="handleMissingImage($event)">
                                </div>
                                <div class="row" *ngIf="!artwork.url && artwork.fileLocation">
                                    <img src="{{artwork.fileLocation}}" style="cursor: pointer;" (error)="handleMissingImage($event)">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="col-sm-12">
                                    <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.name"></div>
                                    <strong><div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.artist"></div></strong>
                                    <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.year"></div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="getArtworksFromIds(stage.includeartworks).length > 1">
                        <div class="row itemsBlock">
                            <div *ngFor="let artwork of getArtworksFromIds(stage.includeartworks).slice(1);" class="col-md-4 col-sm-6 col-12 pb-3">
                                <div class="row">
                                    <img src="{{artwork.url}}" alt="{{artwork.name}}" (click)="startLightbox(artwork.url)" style="height: auto; width: 100%; cursor: pointer;" (error)="handleMissingImage($event)">
                                </div>
                                <div class="row">
                                    <div class="ml-3">
                                        <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.name"></div>
                                        <strong><div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.artist"></div></strong>
                                        <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.year"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <!-- <div *ngFor="let artwork of getArtworksFromIds(stage.includeartworks); let first = first" class="row align-items-end mb-3">
                        <div class="col-sm-6">
                            <div class="row" *ngIf="artwork.url">
                                <img src="{{artwork.url}}" alt="{{artwork.name}}" (click)="startLightbox(artwork.url)" style="cursor: pointer;" (error)="handleMissingImage($event)">
                            </div>
                            <div class="row" *ngIf="!artwork.url && artwork.fileLocation">
                                <img src="{{artwork.fileLocation}}" style="cursor: pointer;" (error)="handleMissingImage($event)">
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="col-sm-12">
                                <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.name"></div>
                                <strong><div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.artist"></div></strong>
                                <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.year"></div>
                            </div>
                        </div>
                    </div> -->
                </div>


                <p style="white-space: pre-wrap;" [innerHTML]="stage.question.title | linkifyHtml"></p>
                <div class="row">
                    <div class="col">
                        <span class="alert alert-info pl-3 pr-3" style="float:left; white-space: pre-wrap; width: 100%;" *ngIf="stage.help && showQuestionHelp" [innerHTML]="stage.help | linkifyHtml"></span>
                    </div>
                    <div class="col-1" style="max-width: 25px;">
                        <img *ngIf="stage.help" (click)="toggleQuestionHelp()" width="25" style="float: right; background-color:white; cursor: pointer;" src="assets/img/question-help.png">
                        <!-- <span class="float-right"><div *ngIf="stage.help" class="col-sm-12" (click)="toggleQuestionHelp()"><img width="20" style="background-color:white; cursor: pointer;" src="assets/img/question-help.png"></div></span> -->
                    </div>
                </div>
                <div *ngIf="!stage.question.choice" class="mb-3">
                    <textarea class="col-sm-12" rows="3" class="form-control" [(ngModel)]="newQuestionAction.answer"></textarea>
                </div>
                <!-- radio -->
                <ng-container *ngIf="!stage.question.mulitselect">
                    <div *ngIf="stage.question.choice" class="col-sm-12 mb-3">
                        <div *ngFor="let option of stage.question.options" class="form-check ml-1">
                            <input
                                class="form-check-input"
                                type="radio"
                                [value]=option
                                [(ngModel)] = "newQuestionAction.answer"
                                (change) = "submittedAnswer=false"
                            />
                            <label class="form-check-label">{{option}}</label><br/>
                        </div>
                    </div>
                </ng-container>
                <!-- checkbox -->
                <ng-container *ngIf="stage.question.mulitselect">
                    <div *ngIf="stage.question.choice" class="col-sm-12 mb-3">
                        <div *ngFor="let option of stage.question.options" class="form-check ml-1">
                            <input
                                class="form-check-input"
                                type="checkbox"
                                [value]=option
                                [ngModel] = "isSelectioninAnswer(option)"
                                (change) = "submittedAnswer=false; updateCheckboxAnswer(option, $event);"
                            />
                            <label class="form-check-label">{{option}}</label><br/>
                        </div>
                    </div>
                </ng-container>
                <!-- return to list if last stage -->
                <div *ngIf="slowLookingMaximumScriptStageIndex == i" class="row bg-light border-top">
                    <div class="text-left">
                        <figcaption class="mt-3 text-left blockquote-footer">{{currentScript.author}}</figcaption>
                    </div>
                    <div class="text-right" style="min-width: 11em;">
                        <button class="mr-2 mb-3 btn btn-secondary" *ngIf="i != 0" (click)="questionBack(i, stage, stage.question.title, newQuestionAction);"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>
                        <button class="mb-3 btn btn-secondary" (click)="questionEnd(i, stage, stage.question.title, newQuestionAction);" [routerLink]="routerLink">Close <i class="fa fa-close" aria-hidden="true"></i></button>
                    </div>
                </div>
                <!-- continue if not last stage -->
                <div *ngIf="slowLookingMaximumScriptStageIndex != i" class="row bg-light border-top">
                    <div class="text-left">
                        <figcaption class="mt-3 text-left blockquote-footer">{{currentScript.author}}</figcaption>
                    </div>
                    <div class="text-right" style="min-width: 11em;">
                        <button class="mr-2 mb-3 btn btn-secondary" *ngIf="i != 0" (click)="questionBack(i, stage, stage.question.title, newQuestionAction);"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>
                        <button class="mb-3 btn btn-secondary" (click)="questionContinue(i, stage, stage.question.title, newQuestionAction);">Continue <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>   

        <div *ngIf="stage.stagetype == 'story'"> 
            <div class="form-group">

                <!-- show title  -->
                <h2>{{stage.title}}</h2>

                <div>
                    <!-- show included artworks -->
                    <ng-container *ngIf="getArtworksFromIds(stage.includeartworks).length > 0">
                        <div *ngFor="let artwork of getArtworksFromIds(stage.includeartworks).slice(0,1); let first = first" class="row align-items-end mb-3">
                            <div class="col-sm-6">
                                <div class="row" *ngIf="artwork.url">
                                    <img src="{{artwork.url}}" alt="{{artwork.name}}" (click)="startLightbox(artwork.url)" style="cursor: pointer;" (error)="handleMissingImage($event)">
                                </div>
                                <div class="row" *ngIf="!artwork.url && artwork.fileLocation">
                                    <img src="{{artwork.fileLocation}}" style="cursor: pointer;" (error)="handleMissingImage($event)">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="col-sm-12">
                                    <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.name"></div>
                                    <strong><div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.artist"></div></strong>
                                    <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.year"></div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="getArtworksFromIds(stage.includeartworks).length > 1">
                        <div class="row itemsBlock">
                            <div *ngFor="let artwork of getArtworksFromIds(stage.includeartworks).slice(1);" class="col-md-4 col-sm-6 col-12 pb-3">
                                <div class="row">
                                    <img src="{{artwork.url}}" alt="{{artwork.name}}" (click)="startLightbox(artwork.url)" style="height: auto; width: 100%; cursor: pointer;" (error)="handleMissingImage($event)">
                                </div>
                                <div class="row">
                                    <div class="ml-3">
                                        <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.name"></div>
                                        <strong><div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.artist"></div></strong>
                                        <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.year"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <!-- <div *ngFor="let artwork of getArtworksFromIds(stage.includeartworks); let first = first" class="row align-items-end mb-3">
                        <div class="col-sm-6">
                            <div class="row" *ngIf="artwork.url">
                                <img src="{{artwork.url}}" alt="{{artwork.name}}" (click)="startLightbox(artwork.url)" style="cursor: pointer;" (error)="handleMissingImage($event)">
                            </div>
                            <div class="row" *ngIf="!artwork.url && artwork.fileLocation">
                                <img src="{{artwork.fileLocation}}" style="cursor: pointer;" (error)="handleMissingImage($event)">
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="col-sm-12">
                                <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.name"></div>
                                <strong><div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.artist"></div></strong>
                                <div class="row text-left" style="white-space: pre-wrap; line-height: 1.2;" [innerHTML]="artwork.year"></div>
                            </div>
                        </div>
                    </div> -->
                </div>


                <p class="alert alert-info" style="white-space: pre-wrap;" [innerHTML]="stage.help | linkifyHtml"></p>

                <p style="white-space: pre-wrap;" [innerHTML]="stage.body | linkifyHtml"></p>

                <!-- get the answer -->
                <div class="mb-3">
                    <textarea class="col-sm-12" rows="3" class="form-control" [(ngModel)]="newStoryAction.answer"></textarea>
                </div>
                
                <!-- return to list if last stage -->
                <div *ngIf="slowLookingMaximumScriptStageIndex == i" class="row bg-light border-top">
                    <div class="text-left">
                        <figcaption class="mt-3 text-left blockquote-footer">{{currentScript.author}}</figcaption>
                    </div>
                    <div class="text-right" style="min-width: 11em;">
                        <button class="mr-2 mb-3 btn btn-secondary" *ngIf="i != 0" (click)="storyBack(i, stage, stage.body, newStoryAction);"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>
                        <button class="mb-3 btn btn-secondary" (click)="storyEnd(i, stage, stage.body, newStoryAction);" [routerLink]="routerLink">Close <i class="fa fa-close" aria-hidden="true"></i></button>
                    </div>
                </div>

                <!-- continue if not last stage -->
                <div *ngIf="slowLookingMaximumScriptStageIndex != i" class="row bg-light border-top">
                    <div class="text-left">
                        <figcaption class="mt-3 text-left blockquote-footer">{{currentScript.author}}</figcaption>
                    </div>
                    <div class="text-right">
                        <button class="mr-2 mb-3 btn btn-secondary" *ngIf="i != 0" (click)="storyBack(i, stage, stage.body, newStoryAction);"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>
                        <button class="mb-3 btn btn-secondary" (click)="storyContinue(i, stage, stage.body, newStoryAction);">Continue <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</ng-container> 
</div>
<br/><br/>
