<div class="container-fluid"> 
    <button (click)="mode=1">Slow Looking</button>
    <button (click)="mode=2">Management</button>
    <button (click)="mode=3">Other People</button>
    <button (click)="mode=4">Authoring</button>
    <button (click)="mode=5">Themes</button>

    <div [ngSwitch]="mode">  
        <div *ngSwitchCase="1">
            <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark hidenav">
                <a class="navbar-brand" href="#">IMMA Slow Looking</a>
            </nav>
            <div *ngIf="!(slowLookingScript>0)">
                <div><img class="col-sm-12" src="assets/img/IMMA30_LOGO_RGB_small.png"></div>
                <p class="lead">Weclome to IMMA Slow Looking. Dive deeper into IMMA artworks. Share your own responses to IMMA artworks and view the responses of others.</p>
                
                <h2>Find Out More</h2>
                <p>Weclome to IMMA Slow Looking. Look closely at these IMMA artworks and develop your own interpretation. How do you view these artworks? How do other people view them?</p> 
                <p>Below are some Slow Looking activities. Each one focusses on a particular IMMA artwork. Each Slow Looking activity helps you to look deeper, find out more about the artwork and develop you own interpretation.</p>
                <p>Within each activity you may have the opportunity to share your response with IMMA, send it to friends and family as well as keep a copy for yourself as a momento of your experience.</p>
                <p>There is a link to the public display of shared Slow Looking responses in the Other People section of this page. But first, try some Slow Looking activities for yourself.</p>
                
                <h2>Take Part</h2>
                <p>The Slow Looking activities are organised into the themes below. Select a theme to view the Slow Looking activities. Each activity is based around a particular artwork in the IMMA collection.</p>
                <div class="row">
                    <div *ngFor="let theme of getThemes()" >
                        <div (click)="updateSlowLookingTheme(theme.id)" class="col-md-12 card my-3 shadow-sm rounded">
                            <h4>{{theme.name}}</h4>
                            <p>{{theme.description}}</p>
                        </div>
                        <div class="col-md-12  my-3 rounded">
                            <div *ngIf="slowLookingTheme==theme.id">
                                <div *ngFor="let script of getScriptsOfTheme(slowLookingTheme); let i = index" class="col-sm-12 pb-4">
                                    <h5 class="col-sm-12">{{script.name}}</h5> 
                                    <div>
                                        <img (click)="setSlowLookingScript(script.id)" class="col-sm-12" src="{{script.artwork.fileLocation}}" >
                                    </div>
                                    <div class="col-sm-12"><strong>{{script.artwork.name}}</strong></div>
                                    <div class="col-sm-12">{{script.artwork.artist}}</div>
                                    <div class="col-sm-12">{{script.artwork.year}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h2>Other People</h2>
                <button class="m-3" (click)="mode=3">Find out how others have responded to these artworks</button>
            </div>

            <div *ngIf="slowLookingScript>0">
                <div *ngFor="let stage of getScript(slowLookingScript).stages; let i = index">
                    <div *ngIf="slowLookingCurrentScriptStageIndex == i">
                        <div *ngIf="stage.type == 'welcome'">  
                            <h5>{{stage.title}}</h5>
                            <p>{{stage.body}}</p>
                            <span *ngIf="slowLookingMaximumScriptStageIndex == i">
                                <div class="text-center">
                                    <button (click)="slowLookingScript=0">Return to the list of Slow Looking activities</button>
                                </div>
                            </span>
                            <span *ngIf="slowLookingMaximumScriptStageIndex != i">
                                <div class="text-right">
                                    <button (click)="slowLookingCurrentScriptStageIndex=i+1; ">Continue</button>
                                </div>
                            </span>
                        </div>
                        <div *ngIf="stage.type == 'context'">  
                            <h5>{{stage.title}}</h5>
                            <p>{{stage.body}}</p>
                            <span *ngIf="slowLookingMaximumScriptStageIndex == i">
                                <div class="text-center">
                                    <button (click)="slowLookingScript=0">Return to the list of Slow Looking activities</button>
                                </div>
                            </span>
                            <span *ngIf="slowLookingMaximumScriptStageIndex != i">
                                <div class="text-right">
                                    <button (click)="slowLookingCurrentScriptStageIndex=i+1; ">Continue</button>
                                </div>
                            </span>
                        </div>
                        <div *ngIf="stage.type == 'question'"> 
                            <div class="form-group">
                                <!-- initialise a new action and add its stage and question  -->
                                {{intialiseQuestionAction(stage, stage.body)}}

                                <!-- show title and question  -->
                                <h5>{{stage.title}}</h5>
                                <p>{{stage.body}}</p>
                                <div *ngIf="stage.help">
                                    <span style="float:right"><img width="20" style="background-color:white;" src="assets/img/question-help.png" (click)="toggleQuestionHelp()"></span>
                                    <span style="float:left"*ngIf="showQuestionHelp">{{stage.help}}</span>
                                </div>
                                <!-- get the answer -->
                                <textarea rows="3" class="form-control" [(ngModel)]="newQuestionAction.answer"></textarea>

                                <!-- return to list if last stage -->
                                <span *ngIf="slowLookingMaximumScriptStageIndex == i">
                                    <div class="text-center">
                                        <button (click)="slowLookingScript=0; addActionToActivity(newQuestionAction); resetNewQuestionAction();">Return to the list of Slow Looking activities</button>
                                    </div>
                                </span>
                                <!-- continue if not last stage -->
                                <span *ngIf="slowLookingMaximumScriptStageIndex != i">
                                    <div class="text-right">
                                        <button (click)="slowLookingCurrentScriptStageIndex=i+1; addActionToActivity(newQuestionAction); resetNewQuestionAction();">Continue</button>
                                    </div>
                                </span>
                            </div>
                        </div>   
                        <div *ngIf="stage.type == 'shareWithMuseum'">  
                            <div class="form-group">
                                {{intialiseShareWithMuseumAction(stage)}}
                                <h5>{{stage.title}}</h5>
                                <p>{{stage.body}}</p>
                            </div>
                            <div class="form-check">
                                <input
                                    type="radio"
                                    [value]=true
                                    name="share"
                                    [(ngModel)] = "newShareWithMusemAction.share"
                                    checked
                                />
                                <label class="form-check-label" for="flexRadioDefault2"> agree </label>
                            </div>
                            <div class="form-check">
                                <input
                                    type="radio"
                                    [value]=false
                                    name="share"
                                    [(ngModel)] = "newShareWithMusemAction.share"
                              />
                              <label class="form-check-label" for="flexRadioDefault1"> disagree </label>
                            </div>

                            <span *ngIf="slowLookingMaximumScriptStageIndex == i">
                                <div class="text-center">
                                    <button (click)="slowLookingScript=0; addActionToActivity(newShareWithMusemAction); resetNewShareWithMusemAction();">Return to the list of Slow Looking activities</button>
                                </div>
                            </span>
                            <span *ngIf="slowLookingMaximumScriptStageIndex != i">
                                <div class="text-right">
                                    <button (click)="slowLookingCurrentScriptStageIndex=i+1; addActionToActivity(newShareWithMusemAction); resetNewShareWithMusemAction();">Continue</button>
                                </div>
                            </span>
                        </div>
                        <div *ngIf="stage.type == 'follow'">  
                            <div class="form-group">
                                {{intialiseFollowAction(stage)}}
                                <h5>{{stage.title}}</h5>
                                <p>{{stage.body}}</p>
                                <div class="form-group">
                                    <label for="emailaddress">Your email address:</label>
                                    <textarea id="emailaddress" rows="1" class="form-control" [(ngModel)]="newFollowAction.emailAddress"></textarea>
                                </div>
                            </div>
                            <span *ngIf="slowLookingMaximumScriptStageIndex == i">
                                <div class="text-center">
                                    <button (click)="slowLookingScript=0; addActionToActivity(newFollowAction); resetFollowAction();">Return to the list of Slow Looking activities</button>
                                </div>
                            </span>
                            <span *ngIf="slowLookingMaximumScriptStageIndex != i">
                                <div class="text-right">
                                    <button (click)="slowLookingCurrentScriptStageIndex=i+1; addActionToActivity(newFollowAction); resetFollowAction();">Continue</button>
                                </div>
                            </span>
                        </div>
                        <div *ngIf="stage.type == 'shareWithSomeone'">  
                            <div class="form-group">
                                {{intialiseShareWithSomeoneAction(stage)}}
                                <h5>{{stage.title}}</h5>
                                <p>{{stage.body}}</p>
                                <div class="form-group">
                                    <label for="emailaddress">Their email address:</label>
                                    <textarea id="emailaddress" rows="1" class="form-control" [(ngModel)]="newShareWithFriendAction.emailAddress"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="emailaddress">Message:</label>
                                    <textarea id="emailaddress" rows="5" class="form-control" [(ngModel)]="newShareWithFriendAction.message"></textarea>
                                </div>
                            </div>
                            <span *ngIf="slowLookingMaximumScriptStageIndex == i">
                                <div class="text-center">
                                    <button (click)="slowLookingScript=0; addActionToActivity(newShareWithFriendAction); resetShareWithSomeoneAction();">Return to the list of Slow Looking activities</button>
                                </div>
                            </span>
                            <span *ngIf="slowLookingMaximumScriptStageIndex != i">
                                <div class="text-right">
                                    <button (click)="slowLookingCurrentScriptStageIndex=i+1;  addActionToActivity(newShareWithFriendAction); resetShareWithSomeoneAction();">Continue</button>
                                </div>
                            </span>
                        </div>
                        <div *ngIf="stage.type == 'thankyou'">  
                            <h5>{{stage.title}}</h5>
                            <p>{{stage.body}}</p>
                            <div>
                                [Social media butons to be added here]                            
                            </div>
                            <span *ngIf="slowLookingMaximumScriptStageIndex == i">
                                <div class="text-center">
                                    <button (click)="slowLookingScript=0; addActivity();">Return to the list of Slow Looking activities</button>
                                </div>
                            </span>
                            <span *ngIf="slowLookingMaximumScriptStageIndex != i">
                                <div class="text-right">
                                    <button (click)="slowLookingCurrentScriptStageIndex=i+1; ">Continue</button>
                                </div>
                            </span>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div *ngSwitchCase="2">
            <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark hidenav">
                <a class="navbar-brand" href="#">IMMA Slow Looking: Management</a>
            </nav>
            <div>
                Show:
            </div>
            <div class="mb-4">
                <button (click)="managementMode=1" class="col-sm-4 text-center">All</button>
                <button (click)="managementMode=2" class="col-sm-4 text-center">Approved</button>
                <button (click)="managementMode=3" class="col-sm-4 text-center">Awaiting approval</button>
            </div>

            <div [ngSwitch]="managementMode">  
                <div *ngSwitchCase="1">
                    <!-- show all -->
                    <div *ngFor="let item of getActivities(); let i = index" class="mb-4 border">
                        <div class="text-center border">
                            <span *ngIf="item.approved">
                                Approved
                            </span>
                            <span *ngIf="!(item.approved)">
                                Awaiting approval
                            </span>
                        </div>
                        <div class="text-sm-left border">
                            <p class="text-sm-left font-weight-bold">{{item.script.name}}</p>
                            <div *ngFor="let action of item.actions;">
                                <span class="font-italic">{{action.question}}</span>
                                <p class="font-weight-normal">{{action.answer}}</p>
                            </div>
                        </div>
                        <div class="text-sm-left border">
                            <div *ngIf="item.approved">
                                <button class="col-sm-4 text-center" (click)="item.approved=false">Reject</button>
                                <button class="col-sm-4 text-center float-right" (click)="deleteActivity(item.id)">Delete</button>            
                            </div>
                            <span *ngIf="!(item.approved)">
                                <button class="col-sm-4 text-center" (click)="item.approved=true">Approve</button>
                                <button class="col-sm-4 text-center float-right" (click)="deleteActivity(item.id)">Delete</button>   
                            </span>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="2">
                    <!-- show approved -->
                    <div *ngFor="let item of getApprovedActivities(); let i = index" class="mb-4 border">
                        <div class="text-center border">
                            <span *ngIf="item.approved">
                                Approved
                            </span>
                            <span *ngIf="!(item.approved)">
                                Awaiting approval
                            </span>
                        </div>
                        <div class="text-sm-left border">
                            <p class="text-sm-left font-weight-bold">{{item.script.name}}</p>
                            <div *ngFor="let action of item.actions;">
                                <span class="font-italic">{{action.question}}</span>
                                <p class="font-weight-normal">{{action.answer}}</p>
                            </div>
                        </div>
                        <div class="text-sm-left border">
                            <div *ngIf="item.approved">
                                <button class="col-sm-4 text-center" (click)="item.approved=false">Reject</button>
                                <button class="col-sm-4 text-center float-right" (click)="deleteActivity(item.id)">Delete</button>            
                            </div>
                            <span *ngIf="!(item.approved)">
                                <button class="col-sm-4 text-center" (click)="item.approved=true">Approve</button>
                                <button class="col-sm-4 text-center float-right" (click)="deleteActivity(item.id)">Delete</button>   
                            </span>
                        </div>
                    </div>
                </div>
                <div *ngSwitchCase="3">
                    <!-- show waiting approval -->
                    <div *ngFor="let item of getUnpprovedActivities(); let i = index" class="mb4 border">
                        <div class="text-center border">
                            <span *ngIf="item.approved">
                                Approved
                            </span>
                            <span *ngIf="!(item.approved)">
                                Awaiting approval
                            </span>
                        </div>
                        <div class="text-sm-left border">
                            <p class="text-sm-left font-weight-bold">{{item.script.name}}</p>
                            <div *ngFor="let action of item.actions;">
                                <span class="font-italic">{{action.question}}</span>
                                <p class="font-weight-normal">{{action.answer}}</p>
                            </div>
                        </div>
                        <div class="text-sm-left border">
                            <div *ngIf="item.approved">
                                <button class="col-sm-4 text-center" (click)="item.approved=false">Reject</button>
                                <button class="col-sm-4 text-center float-right" (click)="deleteActivity(item.id)">Delete</button>            
                            </div>
                            <span *ngIf="!(item.approved)">
                                <button class="col-sm-4 text-center" (click)="item.approved=true">Approve</button>
                                <button class="col-sm-4 text-center float-right" (click)="deleteActivity(item.id)">Delete</button>   
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div *ngSwitchCase="3">
            <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark hidenav">
                <a class="navbar-brand" href="#">IMMA Slow Looking</a>
            </nav>
                          
            <h2>Other People</h2>
            <p>Find out how others have responded to IMMA artworks. Select one of the themes to view the responses. Follow @IMMASlowLooking on Twitter to keep track of the responses of others.</p> 
 
            <div class="row">
                <div *ngFor="let theme of getThemes()" >
                    <div (click)="updateSlowLookingTheme(theme.id)" class="col-md-12 card my-3 shadow-sm rounded">
                        <h4>{{theme.name}}</h4>
                        <p>{{theme.description}}</p>
                    </div>
                    <div class="col-md-12  my-3 rounded">
                        <div *ngIf="slowLookingTheme==theme.id">
                            <div *ngFor="let script of getScriptsOfTheme(slowLookingTheme); let i = index" class="col-sm-12 pb-4">
                                <h5 class="col-sm-12">{{script.name}}</h5> 
                                <div>
                                    <img class="col-sm-12" src="{{script.artwork.fileLocation}}" >
                                </div>
                                <div class="col-sm-12"><strong>{{script.artwork.name}}</strong></div>
                                <div class="col-sm-12">{{script.artwork.artist}}</div>
                                <div class="col-sm-12">{{script.artwork.year}}</div>
                                <div class="col-sm-12 border" (click)="selectScript(script.id)">
                                    Recent responses
                                    <div *ngIf="script.id==selectedScript">
                                        <!-- get approved activities of a script -->
                                        <div *ngFor="let activity of getApprovedActivitiesOfAScript(script.id); let i = index" class="border">
                                            <div *ngFor="let action of activity.actions;">
                                                <span class="font-weight-bold">{{action.question}}</span>
                                                <p class="font-weight-normal">{{action.answer}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2>Take part</h2>
                <button class="m-3" (click)="mode=1">Try Slow Looking activities for yourself</button>
        </div> 
        <div *ngSwitchCase="4">
            <!-- floating nav bar -->
            <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark hidenav">
                <a class="navbar-brand" href="#">IMMA Slow Looking: Authoring</a>
            </nav> 
            <div>
                <div *ngIf="viewScript==0">
                    <span>Show:</span><br/>
                    <span>
                        <span class="mr-3"><input type="checkbox" [checked]="showOpenScripts" (change)="showOpenScripts = !showOpenScripts"/><label class="ml-2"> Open </label></span>
                        <span class="mr-3"><input type="checkbox" [checked]="showClosedScripts" (change)="showClosedScripts = !showClosedScripts"/><label class="ml-2"> Closed </label></span>
                    </span>
                </div>
                <div class="col-xs-12 mb-1">
                    <button class="float-right" *ngIf="viewScript==0" (click)="addScript()">Add new script</button><br/>
                </div>
                <div class="col-xs-12 ml-1 mr-1" *ngFor="let script of getScripts(); let i = index">
                    <div *ngIf="((script.open && showOpenScripts) || (!(script.open) && showClosedScripts)) && (viewScript == 0 || viewScript==script.id)" class="border">
                        <div *ngIf="editScriptDescription!=script.id" class="col-xs-12">
                            <div  class="col-xs-8  mr-5 left">
                                <span  class="font-weight-bold">{{script.name}}</span>
                            </div>
                            <div class="col-xs-4 float-right">
                                <span *ngIf="viewScript==0">
                                    <button class="mr-5" (click)="viewScript=script.id">View</button>
                                    <button (click)="deleteScript(script.id)">Delete</button>
                                </span>
                                <span *ngIf="viewScript==script.id && editScriptDescription==0 && editScriptStage==0">
                                    <button (click)="viewScript=0">Return to list of scripts</button>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <!-- show script description -->
                            <span *ngIf="editScriptDescription!=script.id">
                                <span class="font-weight-bold">
                                    Themes: 
                                </span>
                                <span *ngFor="let theme of script.themes; let i = index; let last = last">
                                    {{theme.name}}<span *ngIf="!last">, </span>
                                </span>
                                <br/>
                                <span class="font-weight-bold">
                                    Artwork: 
                                </span><span *ngIf="script.artwork">{{script.artwork.name}}, {{script.artwork.artist}}, {{script.artwork.year}}</span><br/>
                                <span class="font-weight-bold">
                                    Status: 
                                </span>
                                <span *ngIf="script.open">Open</span>
                                <span *ngIf="!script.open">Closed</span><br/>
                                <span class="font-weight-bold">
                                    Visibilty: 
                                </span>
                                <span *ngIf="script.visible">Public</span>
                                <span *ngIf="!script.visible">Private</span><br/>
                                <span *ngIf="viewScript==script.id && editScriptDescription==0 && editScriptStage==0">
                                    <button (click)="editScriptDescription=script.id; editScriptStage=0">Edit description</button><br/>
                                </span>
                                <div class="border" *ngIf="viewScript==script.id">
                                    <span class="font-weight-bold">Stages</span><br/>
                                    <span *ngIf="editScriptStage==0">Add new stage: <button (click)="addWelcomeStageToScript(script)">welcome</button> <button (click)="addContextStageToScript(script)">context</button> <button (click)="addQuestionStageToScript(script)">question</button> <button (click)="addShareWithMuseumStageToScript(script)">shareWithMuseum</button> <button (click)="addFollowStageToScript(script)">follow</button> <button (click)="addShareWithSomeoneStageToScript(script)">shareWithSomeone</button> <button (click)="addThankyouStageToScript(script)">thankyou</button></span>
                                </div>
                            </span>

                            <!-- edit script description -->
                            <table *ngIf="editScriptDescription==script.id" width=100% class="border"><th></th><th></th>
                                <tr><td class="align-top">
                                    <!-- script name -->
                                    <span class="font-weight-bold">Title: </span>
                                </td><td>
                                <textarea rows="1" class="form-control" [(ngModel)]="script.name"></textarea>
                                </td></tr>
                                <tr><td class="align-top">
                                    <span class="font-weight-bold">Themes: </span>
                                </td><td>
                                    <span *ngFor="let theme of getThemes()" class="mr-3">
                                        <input
                                        type="checkbox"
                                        [value]=theme.id
                                        [ngModel] = "script.themes.includes(theme)"
                                        (change) = "themesChange(script, theme, $event)"
                                        />
                                        <label class="form-check-label"> {{theme.name}} </label>
                                    </span>
                                </td></tr>
                                <tr><td  class="align-top">
                                    <span class="font-weight-bold">Artwork: </span>
                                </td><td>
                                    <span *ngFor="let artwork of getArtworks()" class="mr-3">
                                        <input
                                        type="radio"
                                        [value]="artwork"
                                        name="artwork.name"
                                        [(ngModel)] = "script.artwork"
                                        />
                                        <label class="form-check-label"> {{artwork.name}}, {{artwork.artist}}, {{artwork.year}} </label>
                                        <br/>
                                    </span>
                                </td></tr>
                                <tr><td class="align-top">
                                    <!-- script status -->
                                    <span class="mr-3 font-weight-bold">
                                        Status: 
                                    </span>
                                </td><td>
                                    <span class="mr-3">
                                        <input
                                        type="radio"
                                        [value]=true
                                        name="open"
                                        [(ngModel)] = "script.open"
                                        checked
                                        />
                                        <label class="form-check-label"> Open </label>
                                    </span>
                                    <span class="mr-3">
                                        <input
                                            type="radio"
                                            [value]=false
                                            name="open"
                                            [(ngModel)] = "script.open"
                                        />
                                        <label class="form-check-label"> Closed </label>
                                    </span> 
                                </td></tr>
                                <tr><td class="align-top">
                                    <!-- script visibility -->
                                    <span class="mr-3 font-weight-bold">
                                        Visibility: 
                                    </span>
                                </td><td>
                                    <span class="mr-3">
                                        <input
                                            type="radio"
                                            [value]=true
                                            name="visible"
                                            [(ngModel)] = "script.visible"
                                            checked
                                        />
                                        <label class="form-check-label"> Public </label>
                                    </span>
                                    <span class="mr-3">
                                        <input
                                            type="radio"
                                            [value]=false
                                            name="visible"
                                            [(ngModel)] = "script.visible"
                                        />
                                        <label class="form-check-label"> Private </label>
                                    </span>
                                </td></tr><tr><td colspan="2">
                                    <button (click)="editScriptDescription=0">Done</button> 
                                </td></tr>
                            </table>
                        
                            <span *ngIf="viewScript==script.id">
                               <!-- stages of selected script -->
                                <div *ngFor="let stage of script.stages; let i = index" class="border">
                                    <!-- show script stage -->
                                    <span *ngIf="stage.id!=editScriptStage"> 
                                        <span class="font-weight-bold">Type: </span><span>{{stage.type}}</span><br/>
                                        <span class="font-weight-bold">Position: </span><span>{{i+1}}</span><br/>
                                        <span class="font-weight-bold">Title: </span><span>{{stage.title}}</span><br/>
                                        
                                        <span class="font-weight-bold">Text: </span><span>{{stage.body}}</span><br/>
                                        <span *ngIf='stage.type=="question"'>
                                            <span class="font-weight-bold">Help text: </span><span>{{stage.help}}</span><br/>
                                        </span>
                                        <span *ngIf="editScriptStage==0 && editScriptDescription==0"> 
                                            <button class="mr-5" (click)="editScriptStage=stage.id">Edit stage</button>
                                            <button (click)="deleteStage(script, stage.id)">Delete stage</button><br/>
                                        </span>
                                    </span>
                                    <!-- edit script stage -->
                                    <span *ngIf="stage.id==editScriptStage">
                                        <table width=100%><th></th><th></th>
                                        <tr><td>
                                            <span class="font-weight-bold">Type:</span>
                                        </td><td>
                                            <span>{{stage.type}}</span>
                                        </td></tr>
                                        <tr><td>
                                            <span class="font-weight-bold">Position:</span>
                                        </td><td>
                                            <select (change)="shiftStagePosition(script, $event, i); editScriptStage=0">
                                                <option *ngFor="let pos of script.stages; let ind = index" [selected]="ind==i" value="{{ind}}">   
                                                    {{ind+1}}           
                                                </option> 
                                            </select>
                                            <!-- <textarea rows="1" class="form-control" [(ngModel)]="stage.title"></textarea> -->
                                        </td></tr>
                                        <tr><td>
                                            <span class="font-weight-bold">Title:</span>
                                        </td><td>
                                            <textarea rows="1" class="form-control" [(ngModel)]="stage.title"></textarea>
                                        </td></tr> 
                                        <tr><td>
                                            <span class="font-weight-bold">Text:</span>
                                        </td><td>
                                            <textarea rows="5" class="form-control" [(ngModel)]="stage.body"></textarea>
                                        </td></tr>
                                        <tr *ngIf='stage.type=="question"'><td>
                                            <span class="font-weight-bold">Help text:</span>
                                        </td><td>
                                            <textarea rows="5" class="form-control" [(ngModel)]="stage.help"></textarea>
                                        </td></tr>
                                        </table>
                                        <span>
                                            <button (click)="editScriptStage=0">Done</button><br/>
                                        </span>
                                    </span>
                                </div>
                            </span>

                        </div>
                    </div>
                </div><br/>

            </div>
        </div> 
        
        
        <div *ngSwitchDefault>
            <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark hidenav">
                <a class="navbar-brand" href="#">IMMA Slow Looking: Themes</a>
            </nav> 
            <p>Add, edit and delete themes used in Slow Looking.</p>
            <div class="form-group">
            <table class="table table-sm table-striped"> 
                <tr><th>Position</th><th>Theme</th><th>Description</th><th></th><th></th></tr> 
                <tbody class="text-black"> 
                    <tr *ngFor="let item of getThemes(); let i = index"> 
                        <td>
                            <span *ngIf="!tableEditing || editrow!=item.id">
                                {{i+1}}
                            </span>
                            <span *ngIf="tableEditing && editrow==item.id">
                                <select (change)="shiftThemePosition($event,i); tableEditing=false">
                                    <option *ngFor="let pos of getThemes(); let ind = index" [selected]="ind==i" value="{{ind}}">   
                                        {{ind+1}}           
                                     </option> 
                                </select>
                            </span>
                        </td>
                        <td>
                            <span *ngIf="!tableEditing || editrow!=item.id">
                                {{item.name}}
                            </span>
                            <span *ngIf="tableEditing && editrow==item.id">
                                <textarea rows="3" class="form-control" [(ngModel)]="item.name"></textarea>
                            </span>
                        </td>
                        <td>
                            <span *ngIf="!tableEditing || editrow!=item.id">
                                {{item.description}}
                            </span>
                            <span *ngIf="tableEditing && editrow==item.id">
                                <textarea rows="3" class="form-control" [(ngModel)]="item.description"></textarea>
                            </span>
                        </td>
                        <td>
                            <span *ngIf="!tableEditing">
                                <button (click)="deleteTheme(item.id)">Delete</button>
                            </span>
                        </td>
                        <td>
                            <span *ngIf="!tableEditing">
                                <button (click)="editrow=item.id" (click)="tableEditing=true">Edit</button>
                            </span>
                            <span *ngIf="tableEditing && editrow==item.id">
                                <button (click)="tableEditing=false" [disabled]="!item.name || !item.description">Done</button>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <span *ngIf="!tableEditing">
                                <textarea rows="3" class="form-control" [(ngModel)]="newTheme.name"></textarea>
                            </span>
                        </td>
                        <td>
                            <span *ngIf="!tableEditing">
                                <textarea rows="3" class="form-control" [(ngModel)]="newTheme.description"></textarea>
                            </span>
                        </td>
                        <td>
                        </td>
                        <td>
                            <span *ngIf="!tableEditing">
                                <button (click)="addTheme(newTheme)" [disabled]="!newTheme.name || !newTheme.description">Add</button>
                            </span>
                        </td>
                    </tr> 
                </tbody> 
            </table> 
            </div>
        </div>
    </div>
  </div> 