<div class="container-fluid"> 
    <div (click)="mode=4">Slow Looking</div>
    <button (click)="mode=1">Slow Looking</button>
    <button (click)="mode=2">Management</button>
    <button (click)="mode=3">Other People</button>
    <button (click)="mode=4">Authoring</button>
    <button (click)="mode=5">Themes</button>

    <div [ngSwitch]="mode">  
        <div *ngSwitchCase="1">
            <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark hidenav">
                <a class="navbar-brand" href="#">IMMA Slow Looking</a>
            </nav>
            <div><img class="col-sm-12" src="assets/img/IMMA30_LOGO_RGB_small.png"></div>
            <p class="lead">Weclome to IMMA Slow Looking. Dive deeper into IMMA artworks. Share your own responses to IMMA artworks and view the responses of others.</p>
            
            <h2>Find Out More</h2>
            <p>Weclome to IMMA Slow Looking. Look closely at these IMMA artworks and develop your own interpretation. How do you view thse artworks? How do other people view them?</p> 
            <p>Below are some Slow Looking activities. Each one focusses on a particular IMMA artwork. Each Slow Looking activity helps you to look deeper, find out more about the artwork and develop you own interpretation.</p>
            <p>Within each activity you may have the opportunity to share your response with IMMA, send it to friends and family as well as keep a copy for yourself as a momento of your experience.</p>
            <p>There is a link to the public display of shared Slow Looking responses in the Other People section of this page. But first, try some Slow Looking activities for yourself.</p>
            
            <h2>Take Part</h2>
            <p>The Slow Looking activities are organised into the themes below. Select a theme to view the Slow Looking activities. Each activity is based around a particular artwork in the IMMA collection.</p>
            {{slowLookingScript}}
            <div class="row">
                <div *ngFor="let theme of getThemes()" >
                    <div (click)="updateSlowLookingTheme(theme.id)" class="col-md-12 card my-3 shadow-sm rounded">
                        <h4>{{theme.name}}</h4>
                        <p>{{theme.description}}</p>
                    </div>
                    <div class="col-md-12  my-3 rounded">
                        <div *ngIf="slowLookingTheme==theme.id">
                            <div *ngFor="let script of getScriptsOfTheme(slowLookingTheme); let i = index" class="col-sm-12 pb-4">
                                <h5 class="col-sm-12">{{script.name}}</h5> 
                                <div><img (click)="slowLookingScript=script.id" class="col-sm-12" src="{{script.artwork.fileLocation}}"></div>
                                <div class="col-sm-12"><strong>{{script.artwork.name}}</strong></div>
                                <div class="col-sm-12">{{script.artwork.artist}}</div>
                                <div class="col-sm-12">{{script.artwork.year}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                



            <div>Script: {{getScript(1).name}}, Artwork: {{getScript(1).artwork.name}}, 
                Open: {{getScript(1).open}}, Visible: {{getScript(1).visible}}</div>

            <div *ngFor="let stage of getScript(1).stages; let i = index">
                <div>
                    <div>{{i}}</div>
                    <div>{{stage.id}}</div>
                    <div>{{stage.position}}</div>
                    <div>{{stage.title}}</div>
                    <div>{{stage.body}}</div>
                    <div>{{stage.help}}</div>
                    <div>{{stage.type}}</div>
                </div>
            </div>



        </div> 
        <div *ngSwitchCase="2">
            <h1>Management</h1>
            <p>All activities</p>
            <table class="table table-sm table-striped"> 
                <tr><th></th><th>id</th><th>Script</th><th>Actions</th><th>Approved</th></tr> 
                <tbody class="text-black"> 
                    <tr *ngFor="let item of getActivities(); let i = index"> 
                    <td>{{i}}</td> 
                    <td>{{item.id}}</td> 
                    <td>{{item.script.name}}: {{item.script.artwork.name}}, {{item.script.artwork.artist}}, {{item.script.artwork.year}}</td> 
                    <div *ngFor="let action of item.actions;">
                        {{action.position}}, {{action.question}}, {{action.answer}}
                    </div>
                    <td>{{item.approved}}</td> 
                    </tr> 
                </tbody> 
            </table> 
            
            <p>Approved activities</p>
            <table class="table table-sm table-striped"> 
                <tr><th></th><th>id</th><th>Script</th><th>Actions</th><th>Approved</th><th>Status</th><th>Public</th></tr> 
                <tbody class="text-black"> 
                    <tr *ngFor="let item of getApprovedActivities(); let i = index"> 
                    <td>{{i}}</td> 
                    <td>{{item.id}}</td> 
                    <td>{{item.script.name}}: {{item.script.artwork.name}}, {{item.script.artwork.artist}}, {{item.script.artwork.year}}</td> 
                    <div *ngFor="let action of item.actions;">
                        {{action.position}}, {{action.question}}, {{action.answer}}
                    </div>
                    <td>{{item.approved}}</td>
                    <td>{{item.script.open}}</td> 
                    <td>{{item.script.visible}}</td>
                    </tr> 
                </tbody> 
            </table> 
            
            <p>Awaiting approval</p>
            <table class="table table-sm table-striped"> 
                <tr><th></th><th>id</th><th>Script</th><th>Actions</th><th>Approved</th><th>Status</th><th>Public</th></tr> 
                <tbody class="text-black"> 
                    <tr *ngFor="let item of getUnpprovedActivities(); let i = index"> 
                    <td>{{i}}</td> 
                    <td>{{item.id}}</td> 
                    <td>{{item.script.name}}: {{item.script.artwork.name}}, {{item.script.artwork.artist}}, {{item.script.artwork.year}}</td> 
                    <div *ngFor="let action of item.actions;">
                        {{action.position}}, {{action.question}}, {{action.answer}}
                    </div>
                    <td>{{item.approved}}</td> 
                    <td>{{item.script.open}}</td> 
                    <td>{{item.script.visible}}</td>
                    </tr> 
                </tbody> 
            </table> 

        </div> 
        <div *ngSwitchCase="3">
            <h1>Other People</h1>

            <table class="table table-sm table-striped"> 
                <tr><th></th><th>id</th><th>Script</th><th>Actions</th><th>Approved</th><th>Status</th><th>Public</th></tr> 
                <tbody class="text-black"> 
                    <tr *ngFor="let item of getApprovedVisibleActivities(); let i = index"> 
                        <td>{{i}}</td> 
                        <td>{{item.id}}</td> 
                        <td>{{item.script.name}}: {{item.script.artwork.name}}, {{item.script.artwork.artist}}, {{item.script.artwork.year}}</td> 
                        <div *ngFor="let action of item.actions;">
                            {{action.position}}, {{action.question}}, {{action.answer}}
                        </div>
                        <td>{{item.approved}}</td> 
                        <td>{{item.script.open}}</td> 
                        <td>{{item.script.visible}}</td>
                    </tr> 
                </tbody> 
            </table> 

        </div> 
        <div *ngSwitchCase="4">
            <h1>Authoring</h1>

            <table class="table table-sm table-striped"> 
                <tr><th></th><th>id</th><th>Name</th><th>Themes</th><th>Artwork</th><th>Status</th><th>Visibility</th></tr> 
                <tbody class="text-black"> 
                    <tr *ngFor="let item of getScripts(); let i = index"> 
                    <td>{{i}}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>
                        <div *ngFor="let theme of item.themes"> 
                            {{theme.name}}
                        </div>
                    </td>
                    <td>{{item.artwork.name}}, {{item.artwork.artist}}, {{item.artwork.year}}</td>
                    <td>{{item.open}}</td>
                    <td>{{item.visible}}</td>
                    </tr> 
                </tbody> 
            </table> 
            <div *ngFor="let item of getScripts()">
                {{item.name}}
                <table class="table table-sm table-striped"> 
                    <tr><th></th><th>id</th><th>Position</th><th>Type</th><th>Title</th><th>Body</th><th>Help</th></tr> 
                    <tbody class="text-black"> 
                        <tr *ngFor="let stage of item.stages; let i = index">
                        <td>{{i}}</td>
                        <td>{{stage.id}}</td>
                        <td>{{stage.position}}</td>
                        <td>{{stage.type}}</td>
                        <td>{{stage.title}}</td>
                        <td>{{stage.body}}</td>
                        <td>{{stage.help}}</td>
                        </tr> 
                    </tbody> 
                </table> 
            </div>
        </div>        
        <div *ngSwitchDefault>
            <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark hidenav">
                <a class="navbar-brand" href="#">Themes</a>
            </nav>
            <p>Add, edit and delete themes used in Slow Looking.</p>
            <div class="form-group">
            <table class="table table-sm table-striped"> 
                <tr><th></th><th>id</th><th>Theme</th><th>Description</th><th></th><th></th></tr> 
                <tbody class="text-black"> 
                    <tr *ngFor="let item of getThemes(); let i = index"> 
                        <td>
                            {{i}}
                        </td> 
                        <td>{{item.id}}</td>
                        <td>
                            <span *ngIf="!tableEditing || editrow!=item.id">
                                {{item.name}}
                            </span>
                            <span *ngIf="tableEditing && editrow==item.id">
                                <input class="form-control" [(ngModel)]="item.name"/>
                            </span>
                        </td>
                        <td>
                            <span *ngIf="!tableEditing || editrow!=item.id">
                                {{item.description}}
                            </span>
                            <span *ngIf="tableEditing && editrow==item.id">
                                <input class="form-control" [(ngModel)]="item.description"/>
                            </span>
                        </td>
                        <td>
                            <span *ngIf="!tableEditing">
                                <button (click)="deleteTheme(item.id)">Delete</button>
                            </span>
                        </td>
                        <td>
                            <span *ngIf="!tableEditing">
                                <button (click)="editrow=item.id" (click)="tableEditing=true">Edit</button>
                            </span>
                            <span *ngIf="tableEditing && editrow==item.id">
                                <button (click)="0" (click)="tableEditing=false" [disabled]="!item.name || !item.description">Done</button>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td></td> 
                        <td></td>
                        <td>
                            <span *ngIf="!tableEditing">
                                <input class="form-control" [(ngModel)]="newTheme.name" />
                            </span>
                        </td>
                        <td>
                            <span *ngIf="!tableEditing">
                                <input class="form-control" [(ngModel)]="newTheme.description" />
                            </span>
                        </td>
                        <td>
                        </td>
                        <td>
                            <span *ngIf="!tableEditing">
                                <button (click)="addTheme(newTheme)" [disabled]="!newTheme.name || !newTheme.description">Add</button>
                            </span>
                        </td>
                    </tr> 
                </tbody> 
            </table> 
            </div>
        </div>
    </div>
  </div> 