<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark hidenav">
    <span class="navbar-brand">IMMA Deeper Viewpoints: Themes</span>
</nav> 
<p>Add, edit and delete themes used in Deeper Viewpoints.</p>
<div class="form-group">
<table class="table table-sm table-striped"> 
    <tr><th>Position</th><th>Theme</th><th>Description</th><th></th><th></th></tr> 
    <tbody class="text-black"> 
        <tr *ngFor="let item of getThemes(); let i = index"> 
            <td>
                <span *ngIf="!tableEditing || editrow!=item._id">
                    {{item.id}}
                </span>
                <span *ngIf="tableEditing && editrow==item._id">
                    <select (change)="updateThemePosition(item, $event); tableEditing=false">
                        <option *ngFor="let pos of getThemes(); let ind = index" [selected]="item.id==pos.id" value="{{pos.id}}">   
                            {{pos.id}}           
                         </option> 
                    </select>
                </span>
            </td>
            <td>
                <span *ngIf="!tableEditing || editrow!=item._id">
                    {{item.name}}
                </span>
                <span *ngIf="tableEditing && editrow==item._id">
                    <textarea rows="3" class="form-control" [(ngModel)]="item.name"></textarea>
                </span>
            </td>
            <td>
                <span *ngIf="!tableEditing || editrow!=item._id">
                    {{item.description}}
                </span>
                <span *ngIf="tableEditing && editrow==item._id">
                    <textarea rows="3" class="form-control" [(ngModel)]="item.description"></textarea>
                </span>
            </td> 
            <td>
                <span *ngIf="!tableEditing">
                    <button class="btn btn-danger" (click)="deleteTheme(item._id)">Delete</button>
                </span>
            </td>
            <td>
                <span *ngIf="!tableEditing">
                    <button class="btn btn-secondary" (click)="editrow=item._id" (click)="tableEditing=true">Edit</button>
                </span>
                <span *ngIf="tableEditing && editrow==item._id">
                    <button class="btn btn-success" (click)="tableEditing=false; addTheme(item)" [disabled]="!item.name || !item.description">Done</button>
                </span>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <span *ngIf="!tableEditing">
                    <textarea rows="3" class="form-control" [(ngModel)]="newTheme.name"></textarea>
                </span>
            </td>
            <td>
                <span *ngIf="!tableEditing">
                    <textarea rows="3" class="form-control" [(ngModel)]="newTheme.description"></textarea>
                </span>
            </td>
            <td>
            </td>
            <td>
                <span *ngIf="!tableEditing">
                    <button class="btn btn-success" (click)="addTheme(newTheme)" [disabled]="!newTheme.name || !newTheme.description">Add</button>
                </span>
            </td>
        </tr> 
    </tbody> 
</table> 
</div>