<paNavBar></paNavBar>
<div style="width: 100%; background-color: white;" class="border pl-3 pr-3">
<p class="lead">Manage user accounts.</p>
<div class="form-group">
    <span *ngIf="getCurrentUserID()==1">
        <div class="form-group" *ngIf="getUsers().length > 12">
            <div class="row pt-1">
                <div class="col-sm-2 pt-1" style="min-width: 12em;">
                   <label for="search-text">Filter users:</label>
                </div>
                <div class="col-sm">
                    <input type="email" class="form-control" id="search-text" aria-describedby="search-text" 
                    [(ngModel)]="searchText" placeholder="Username or display name">
                </div>
            </div>
        </div>
        <table class="table table-sm"> 
            <thead><tr>
                <th style="border-top: 0px;" sortable="id" (sort)="onSort($event)">ID</th>
                <th style="border-top: 0px;" sortable="username" (sort)="onSort($event)">Username</th>
                <th style="border-top: 0px;" sortable="displayname" (sort)="onSort($event)">Display name</th>
                <th style="border-top: 0px;">Password</th>
                <th style="border-top: 0px;"></th><th style="border-top: 0px;"></th>
            </tr></thead>
            <tbody class="text-black"> 
                <tr *ngFor="let item of users | appFilterUser: searchText; let i = index"> 
                    <td style="width:3em">
                        {{item.id}}
                    </td>
                    <td>
                        <span *ngIf="!tableEditing || editrow!=item._id">
                            {{item.username}}
                        </span>
                        <span *ngIf="tableEditing && editrow==item._id">
                            <textarea rows="1" class="form-control" [(ngModel)]="item.username"></textarea>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="!tableEditing || editrow!=item._id">
                            {{item.displayname}}
                        </span>
                        <span *ngIf="tableEditing && editrow==item._id">
                            <textarea rows="2" class="form-control" [(ngModel)]="item.displayname"></textarea>
                        </span>
                        <span *ngIf="deleteConfirmation_Id==item._id">
                            <div class="alert alert-danger" role="alert"><strong>Are you sure you want to delete this user?</strong> <div><button class="btn btn-danger ml-2" (click)="deleteUser(item._id)">OK</button> <button class="btn btn-secondary ml-2" (click)="deleteConfirmation_Id=''">Cancel</button></div></div>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="!tableEditing || editrow!=item._id">
                            {{item.password}}
                        </span>
                        <span *ngIf="tableEditing && editrow==item._id">
                            <textarea rows="1" class="form-control" [(ngModel)]="item.password"></textarea>
                        </span>
                    </td> 
                    <td>
                        <span *ngIf="!tableEditing && item.id!=1">
                            <button class="btn btn-danger" (click)="confirmDelete(item._id)">Delete</button>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="!tableEditing">
                            <button class="btn btn-warning" (click)="editrow=item._id" (click)="tableEditing=true; deleteConfirmation_Id='';">Edit</button>
                        </span>
                        <span *ngIf="tableEditing && editrow==item._id">
                            <button class="btn btn-warning" (click)="tableEditing=false; addUser(item, true)" [disabled]="!item.username || !item.password">Save</button>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <span *ngIf="!tableEditing">
                            <textarea rows="1" class="form-control" [(ngModel)]="newUser.username" (change)="duplicateUser=false"></textarea>
                            <span *ngIf="duplicateUser" class="text-warning">Username already taken</span>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="!tableEditing">
                            <textarea rows="2" class="form-control" [(ngModel)]="newUser.displayname"></textarea>
                        </span>
                    </td>
                    <td>
                        <span *ngIf="!tableEditing">
                            <textarea rows="1" class="form-control" [(ngModel)]="newUser.password"></textarea>
                        </span>
                    </td>
                    <td>
                    </td>
                    <td>
                        <span *ngIf="!tableEditing">
                            <button class="btn btn-success" (click)="addUser(newUser, false)" [disabled]="!newUser.username || !newUser.displayname || !newUser.password">Add</button>
                        </span>
                    </td>
                </tr> 
            </tbody> 
        </table>
    </span>
</div>
</div>
<br/>
<br/>